Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6415: Return message index for contact details APIM tests (#733)
  docs/tests/development/post_v1_message-batches/validation.md
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-js, lint-python

Update @redocly/cli to 1.25.3
  package-lock.json
  package.json
Due: none

Update @redocly/cli to 1.25.3 (#731)
  package-lock.json
  package.json
Due: none

CCM-6418: update sandbox node deps (#732)
  sandbox/package-lock.json
  sandbox/package.json
Due: none

CCM-6534: Create Ref 2 product
  manifest_template.yml
Due: none

CCM-5394: remove superfluous dulplicate error code
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
Due: none

CCM-6534: Only trigger ref2 deployement
  azure/azure-release-pipeline.yml
Due: none

CCM-6534: Introduce ref2 environment
  azure/azure-release-pipeline.yml
  manifest_template.yml
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-5394: add link to pds
  specification/documentation/APIDescription.md
Due: none

CCM-6618: Added details of 429 response code to Message and Channel status callbacks documentation (#726)
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/responses/4xx/callbacks/429_TooManyRequests_Callbacks.yaml
Due: none

CCM-6472: update remaining tests in affected files to follow pattern
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-6472: temporary commit to check debug output
  tests/lib/assertions.py
Due: lint-python

CCM-6472: use global routing configuration for all environments
  tests/lib/constants/constants.py
Due: lint-python

CCM-6472: temporary debug commit
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6472: fix line left in by mistake
  tests/integration/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-6472: prod tests
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6472: contact details tests for integration
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-6472: documentation updates
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/happy_path.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
Due: none

CCM-6472: fix documentation that can't pass build as-is
  tests/docs/development/generic/too_many_requests.rst
Due: none

Revert "CCM-6472: temporary debug commit"
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6472: try using global routing config for prod tests
  tests/lib/constants/constants.py
Due: lint-python

CCM-6472: update a test that was missed
  tests/development/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6742: fix reference to Error
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

Revert "CCM-6472: use global routing configuration for all environments"
  tests/lib/constants/constants.py
Due: lint-python

CCM-6472: address inconsistencies between how tests are implemented in different areas
  tests/integration/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-6472: tidy up to see if this makes coverage a bit more universal
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6472: use global routing configuration only for production for now, as this is the only configuration that seems to work
  tests/lib/constants/constants.py
Due: lint-python

Revert "CCM-6472: temporary commit to check debug output"
  tests/lib/assertions.py
Due: lint-python

CCM-6472: stop using the url fixture for integration tests as it doesn't seem to work
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
