Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM-9963: Fix config for latest version of poetry
  poetry.lock
  pyproject.toml
Due: none

CCM-9963: Update python version in azure pipelines
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/project.yml
Due: none

CCM-9963: Update python version in azure pipelines
  azure/project.yml
Due: none

CCM-9871: Update Redoc to v2.5.0 (#941)
  package.json
  pnpm-lock.yaml
Due: none

CCM-10077: update and add tests
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  sandbox/handlers/config.js
  tests/api/message_batches/field_validation/test_400_invalid_contact_details.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
Due: lint-js, lint-python

CCM-10077: update specification document
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
Due: none

CCM-10077: repoint to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10077: fix tests
  tests/api/message_batches/field_validation/test_400_invalid_contact_details.py
Due: lint-python

CCM-10077: revert repoint to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10077: clean up tests
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/api/message_batches/field_validation/test_400_invalid_contact_details.py
  tests/api/single_message/field_validation/test_400_invalid_contact_details.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
  tests/docs/partials/validation/test_invalid_personalisation.rst
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-10077: fix tests
  tests/api/single_message/field_validation/test_400_invalid_contact_details.py
Due: lint-python

CCM-9960: Update node in docker
  sandbox/Dockerfile
  sandbox/package-lock.json
Due: none

CCM-10077: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-9960: Update node in docker (#946)
  sandbox/Dockerfile
  sandbox/package-lock.json
Due: none

CCM-10077 Relax api contact details validation (#940)
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  tests/api/message_batches/field_validation/test_400_invalid_contact_details.py
  tests/api/single_message/field_validation/test_400_invalid_contact_details.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
  tests/docs/partials/validation/test_invalid_personalisation.rst
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-8272: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7485: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7485: Billing reference doc update
  specification/schemas/components/Message.yaml
  specification/schemas/requests/CreateMessage.yaml
  specification/snippets/BillingReferenceSnippet.yaml
Due: none

CCM-10553: Update dependabot to pnpm
  .github/dependabot.yml
Due: none

CCM-10553: Run pnpm update -r
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  sandbox/package.json
  sandbox/pnpm-lock.yaml
Due: none

CCM-7485: Billing reference doc update (#952)
  specification/schemas/components/Message.yaml
  specification/schemas/requests/CreateMessage.yaml
  specification/snippets/BillingReferenceSnippet.yaml
Due: none

CCM-10553: Revert ajv version
  package.json
  pnpm-lock.yaml
Due: none

CCM-10553: Fix Dependabot Redoc (#955)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  sandbox/package.json
  sandbox/pnpm-lock.yaml
Due: none

Revert "CCM-10553: Fix Dependabot Redoc (#955)"
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  sandbox/package.json
  sandbox/pnpm-lock.yaml
Due: none

Revert "CCM-10553: Fix Dependabot Redoc (#955)" (#956)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  sandbox/package.json
  sandbox/pnpm-lock.yaml
Due: none
