Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6416: linting fixes
  tests/lib/constants/constants.py
  tests/lib/generators.py
Due: lint-python

CCM-6416: frontent tests for personalisation size
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_personalisation.rst
  tests/docs/partials/validation/test_too_large_personalisation.rst
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6416: temporary commit to point at DE
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6416: updated docs
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

CCM-6416: temporary commit - amend typo path/URL mistake
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-6416: fix documentation error
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
Due: none

CCM-6416: remove temporary repointing of frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6434: Respond with request item IDs for batch create (#759)
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/test_504_errors.py
Due: lint-js, lint-python

CCM-6416 front-end tests for error transformation (#764)
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_personalisation.rst
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
  tests/docs/partials/validation/test_too_large_personalisation.rst
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6434: Only deploy to ref
  azure/azure-release-pipeline.yml
Due: none

CCM-6416: corrects data for personalisation test cases for batch send
  tests/development/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-6416: corrects data for personalisation test cases for batch send (#777)
  tests/development/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-0000: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6878: Cannot set contact details APIM tests
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/documentation/APIDescription.md
Due: none

Revert "CCM-6434: Respond with request item IDs for batch create (#759)"
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/test_504_errors.py
Due: lint-js, lint-python

NOJIRA: PR 759 revert test
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6434: Point to DE-RAKE4
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6434: Revert respond with request item IDs for batch create (#759)" (#779)
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/test_504_errors.py
Due: lint-js, lint-python

CCM-7379: remove references to deduplicating requests in api docs
  specification/documentation/CreateMessage.md
  specification/documentation/CreateMessageBatch.md
Due: none

CCM-5694: address comments
  scripts/repoint-frontend/README.md
  scripts/repoint-frontend/repoint_frontend.py
  scripts/repoint-frontend/repoint_frontend.sh
  scripts/repoint_frontend.py
Due: lint-python

CCM-7379: remove references to deduplicating requests in api docs (#787)
  specification/documentation/CreateMessage.md
  specification/documentation/CreateMessageBatch.md
Due: none

CCM-5694: fix bug and update readme
  scripts/repoint-frontend/README.md
  scripts/repoint-frontend/repoint_frontend.py
  scripts/repoint-frontend/repoint_frontend.sh
Due: lint-python

CCM-5694: add missing insertion line
  scripts/repoint-frontend/repoint_frontend.py
Due: lint-python

CCM-6623: Update specification/documentation/APIDescription.md
  specification/documentation/APIDescription.md
Due: none

CCM-6623: Update specification/callbacks/channel-subscription-openapi-spec.json
  specification/callbacks/channel-subscription-openapi-spec.json
Due: none

CCM-6623: Update callback retry policy doc update (#778)
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/documentation/APIDescription.md
Due: none

CCM-0001: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-5694: bug fix
  scripts/repoint-frontend/repoint_frontend.py
  scripts/repoint-frontend/repoint_frontend.sh
Due: lint-python

CCM-0002: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-0003: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6988: update assertions for new routing config fields
  tests/lib/assertions.py
Due: lint-python

CCM-5694: refactor repoint_frontend.py
  scripts/repoint-frontend/repoint_frontend.py
Due: lint-python

CCM-6416: use qualified import
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6988: point to de2-aado1
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
