Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM6126: initial commit for 413 error
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
Due: none

CCM-6126: tests to check returned errors
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/production/message_batches/create_message_batches/test_too_large.py
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6126: update pre-existing tests
  tests/development/message_batches/create_message_batches/test_performance.py
  tests/integration/message_batches/create_message_batches/test_performance.py
  tests/production/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
Due: lint-python

CCM-6126: linter fixes
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/production/message_batches/create_message_batches/test_too_large.py
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6126: phase out non-generic policy
  proxies/shared/partials/Partial.Flows.CreateMessageEndpoint.xml
  proxies/shared/policies/RaiseFault.400BadRequest.xml
  proxies/shared/resources/jsc/Messages.Create.Validate.js
Due: none

CCM-6126: development test for 413 errors
  tests/development/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6126: update development tests to check content of errors
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/lib/constants/constants.py
Due: lint-python

CCM-6126: update comment in raisefault policy
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
Due: none

CCM-6126: openapi spec for 413 errors
  specification/endpoints/create_message.yaml
  specification/endpoints/create_message_batch.yaml
  specification/endpoints/get_message.yaml
  specification/endpoints/get_nhsapp_account_details.yaml
  specification/responses/4xx/413_RequestEntityTooLarge.yaml
  specification/schemas/enums/ErrorRequestEntityTooLarge.yaml
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
Due: none

CCM-6126: amend typo
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
Due: none

Revert "CCM-6126: attempt reverting change to validation logic"
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
Due: none

CCM-6126: attempt reverting change to validation logic
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
Due: none

CCM-6126: initial attempt at limiting number of messages per request
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/helpers/validationErrors.js
Due: none

CCM-6126: remove pointer from 413 for payload too large
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
Due: none

CCM-6126: attempt using another context variable
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
Due: none

CCM-6126: effort at creating a generic raisefault function
  proxies/shared/partials/Partial.Flows.CreateMessageBatchEndpoint.xml
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
Due: none

CCM-6126: remove backend test for sandbox environment - not applicable
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM6126 respond with a json:api format for 413 errors (#752)
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/shared/partials/Partial.Flows.CreateMessageBatchEndpoint.xml
  proxies/shared/partials/Partial.Flows.CreateMessageEndpoint.xml
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/Messages.Create.Validate.js
  proxies/shared/resources/jsc/helpers/validationErrors.js
  specification/endpoints/create_message_batch.yaml
  specification/responses/4xx/413_RequestEntityTooLarge.yaml
  specification/schemas/enums/ErrorRequestEntityTooLarge.yaml
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
  tests/development/message_batches/create_message_batches/test_performance.py
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/docs/partials/performance/test_create_messages_large_invalid_payload.rst
  tests/docs/partials/performance/test_create_messages_large_not_unique_payload.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/docs/partials/too_large/test_payload_too_large.rst
  tests/docs/partials/too_large/test_too_many_messages.rst
  tests/integration/message_batches/create_message_batches/test_performance.py
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/lib/constants/constants.py
  tests/production/message_batches/create_message_batches/test_performance.py
  tests/production/message_batches/create_message_batches/test_too_large.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6696: add new sandbox get message response for parallel send
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-6696: add letter to pds metadata field
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-6696: update failed reasosn to match backend
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-6693: add assertion for cascadeType & CascadeOrder
  tests/lib/assertions.py
Due: lint-python

CCM-6434: temp change to point to de-iaho3
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6434: add messages to response and update tests
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
Due: lint-python

CCM-6434: update test documentation
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
Due: none

CCM-6434: fix for failing tests
  tests/lib/constants/message_batches_paths.py
Due: lint-python

CCM-6471: Test
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6434: update sandbox
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
Due: lint-js

CCM-6434: revert temp change to point to de-iaho3
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6695: Added API docs for cascadeType and cascadeOrder (Parallel Send)
  specification/callbacks/message_status.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/enums/CascadeType.yaml
  specification/schemas/responses/MessageResponse.yaml
  specification/snippets/CascadeOrder.yaml
Due: none

CCM-6434: increase timeout for sandbox target
  proxies/sandbox/apiproxy/targets/sandbox.xml
Due: none

CCM-6696: add parallel send response to sandbox (#757)
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-6434: decrease timeout for sandbox target and increase timeout test
  proxies/sandbox/apiproxy/targets/sandbox.xml
  tests/sandbox/test_504_errors.py
Due: lint-python

CCM-6648: Fix intermittent 401 errors
  tests/lib/authentication.py
Due: lint-python

CCM-6416: temporary commit to point at DE
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6416: temporary commit - amend typo path/URL mistake
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-6648: Fix intermittent 401 errors
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python
