Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM-5989: Rate limiting tests
  docs/tests/development/generic/too_many_requests.md
Due: none

CCM-5989: Move rate limit tests to nightly build
  Makefile
  azure/nightly-int-dev-pipeline.yml
Due: none

CCM-5989: Rate limiting tests
  azure/templates/run-tests.yml
Due: none

CCM-5989: Rate limiting tests
  tests/development/rate_limiting/test_429_errors.py
  tests/docs/partials/too_many_requests/test_200_specific_app_quota_different_app.rst
  tests/docs/partials/too_many_requests/test_200_specific_app_spikearrest_different_app.rst
Due: lint-python

CCM-5989: Update APIM to use shared flow rate limiting - E2E tests (#715)
  Makefile
  azure/nightly-int-dev-pipeline.yml
  azure/templates/run-tests.yml
  docs/tests/development/generic/index.md
  docs/tests/development/generic/too_many_requests.md
  docs/tests/development/index.md
  manifest_template.yml
  proxies/live/apiproxy/proxies/default.xml
  proxies/sandbox/apiproxy/proxies/default.xml
  proxies/shared/partials/Partial.Flows.RateLimiting.xml
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/partials/Partial.Target.PreFlowRequest.xml
  proxies/shared/policies/FlowCallout.ApplyRateLimiting.xml
  proxies/shared/policies/JavaScript.TranslateQuotaErrors.xml
  proxies/shared/policies/Quota.Global.xml
  proxies/shared/policies/Quota.PerApp.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/policies/SpikeArrest.Global.xml
  proxies/shared/policies/SpikeArrest.PerApp.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
  pytest.ini
  tests/development/rate_limiting/test_429_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/development/generic/too_many_requests.rst
  tests/docs/partials/too_many_requests/test_200_specific_app_quota_different_app.rst
  tests/docs/partials/too_many_requests/test_200_specific_app_spikearrest_different_app.rst
  tests/docs/partials/too_many_requests/test_429_global_app_quota.rst
  tests/docs/partials/too_many_requests/test_429_global_app_spikearrest.rst
  tests/docs/partials/too_many_requests/test_429_proxy_quota.rst
  tests/docs/partials/too_many_requests/test_429_proxy_spikearrest.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_quota.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_spikearrest.rst
  tests/lib/assertions.py
  tests/lib/authentication.py
  tests/lib/fixtures.py
  tests/lib/generators.py
  tests/lib/rate_limiting.py
  tests/sandbox/test_429_errors.py
Due: lint-python

CCM-5394: add description under onboarding section
  specification/documentation/APIDescription.md
Due: none

CCM-5394: update 400 errors
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
Due: none

CCM-5394: update recipient with contact details
  specification/schemas/components/Recipient.yaml
Due: none

CCM-5786: Remove duplicate query params on NHS App Account endpoint
  specification/communications-manager.yaml
  specification/schemas/types/Page.yaml
Due: none

CCM-5786: Fix schema validation errors caused by invalid type definitions
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
Due: none

CCM-6471: swap too few address lines error title
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-6618: Added details of 429 response code to Message and Channel status callbacks documentation
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/responses/4xx/callbacks/429_TooManyRequests_Callbacks.yaml
Due: none

CCM-6471: simplify error translation
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
Due: none

NOJIRA: Do not merge
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6471: simplify error translation
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-6471: simplify error translation
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6471: simplify error translation
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

CCM-6471: simplify error translation
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6471: temp changes to test backend integration
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
Due: none

CCM-6471: temp changes to test backend integration
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6471: revert temp changes to test backend integration
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6418: update deps
  package-lock.json
  package.json
  scripts/linter/base.js
Due: none

CCM-6418: legacy babel peer deps
  package-lock.json
Due: none

CCM-6418: add babel core
  package-lock.json
  package.json
Due: none

CCM-6418: use airbnb base to remove react linting
  package-lock.json
  package.json
  scripts/linter/base.js
Due: none

CCM-6418: other unnecessary linter rules
  scripts/linter/base.js
Due: none

CCM-6534: Introduce ref2 environment
  azure/azure-release-pipeline.yml
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-5786: Fix schema validation errors caused by invalid type definitions (#720)
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/communications-manager.yaml
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/types/Page.yaml
Due: none

CCM-6534: Only trigger ref2 deployement
  azure/azure-release-pipeline.yml
Due: none

CCM-6418: update and remove various node dependancies (#728)
  package-lock.json
  package.json
  scripts/linter/base.js
Due: none

CCM-6418: update sandbox node deps
  sandbox/package-lock.json
  sandbox/package.json
Due: none

CCM-6415: Return message index for contact details E2E tests
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-js, lint-python

CCM-2166: Test
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6415: Add tests with different message indexes
  docs/tests/development/post_v1_message-batches/validation.md
  tests/development/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-5394: update docs for pointer index
  specification/schemas/responses/errors/message_batches/UnableToProcessBatch.yaml
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
  specification/schemas/types/ErrorPointer.yaml
Due: none
