Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-5327: refactor error generation for message endpoints
  sandbox/handlers/batch_send.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/ods_code.js
  sandbox/handlers/error_scenarios/sending_group_id.js
  sandbox/handlers/index.js
  sandbox/handlers/messages.js
  sandbox/handlers/responses/backend_403.js
  sandbox/handlers/responses/backend_408.js
  sandbox/handlers/responses/backend_504.js
Due: lint-js

CCM-5327: more refactor
  sandbox/__test__/responses/backend_403.spec.js
  sandbox/__test__/responses/backend_408.spec.js
  sandbox/__test__/responses/backend_504.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/messages.js
  sandbox/handlers/validation/common_request_attributes.js
  sandbox/handlers/validation/mandatory_batch_message_fields.js
  sandbox/handlers/validation/mandatory_single_message_fields.js
Due: lint-js

CCM-5327: add alternate contact details checks and unit tests
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  sandbox/handlers/messages.js
  sandbox/handlers/utils.js
Due: lint-js

CCM-5327: more unit tests
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
Due: lint-js

CCM-5327: refactor contact detail validator
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/error_scenarios/ods_code.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  sandbox/handlers/error_scenarios/sending_group_id.js
  sandbox/handlers/messages.js
Due: lint-js

CCM-5327: apply prettier to files
  sandbox/handlers/error_scenarios/ods_code.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  sandbox/handlers/error_scenarios/sending_group_id.js
  sandbox/handlers/validation/common_request_attributes.js
  sandbox/handlers/validation/mandatory_batch_message_fields.js
  sandbox/handlers/validation/mandatory_single_message_fields.js
Due: lint-js

CCM-5327: correct validation
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-5956: Use APIM shared flow for rate limits
  manifest_template.yml
  proxies/live/apiproxy/proxies/default.xml
  proxies/sandbox/apiproxy/proxies/default.xml
  proxies/shared/partials/Partial.Flows.RateLimiting.xml
  proxies/shared/partials/Partial.Target.PreFlowRequest.xml
  proxies/shared/policies/FlowCallout.ApplyRateLimiting.xml
  proxies/shared/policies/Quota.Global.xml
  proxies/shared/policies/Quota.PerApp.xml
  proxies/shared/policies/SpikeArrest.Global.xml
  proxies/shared/policies/SpikeArrest.PerApp.xml
Due: none

CCM-5327: add contact detail override and validation to sandbox (#711)
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/__test__/responses/backend_403.spec.js
  sandbox/__test__/responses/backend_408.spec.js
  sandbox/__test__/responses/backend_504.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/ods_code.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  sandbox/handlers/error_scenarios/sending_group_id.js
  sandbox/handlers/index.js
  sandbox/handlers/messages.js
  sandbox/handlers/responses/backend_403.js
  sandbox/handlers/responses/backend_408.js
  sandbox/handlers/responses/backend_504.js
  sandbox/handlers/utils.js
  sandbox/handlers/validation/common_request_attributes.js
  sandbox/handlers/validation/mandatory_batch_message_fields.js
  sandbox/handlers/validation/mandatory_single_message_fields.js
Due: lint-js

CCM-6440: API Docs - Send Single Message 400 error example shows wrong pointer value
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
Due: none

CCM-5956: Point at ref
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-5328: stringify status code for contact detail errors
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
Due: none

CCM-5328: use string constructor instead of interpolation
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
Due: none

CCM-5328: allow contact detail override by default in sandbox
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-5328: sandbox and dev tests
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-5328: sandbox and dev test documentation
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
Due: none

CCM-5328: alt contact detail happy paths and docs
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_messages/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_messages/happy_path.md
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_messages_valid_contact_details.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/messages/create_messages/test_success.py
Due: lint-python

CCM-5328: update test docs and remove correlation id test permutations
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-5328: update doc hash
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

CCM-5328: fix tests and update docs
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-5328: missing parameters
  tests/development/messages/create_messages/test_field_validation.py
Due: lint-python

Address review comments
  specification/schemas/enums/ErrorTitle.yaml
  specification/schemas/responses/errors/message_batches/UnableToProcessBatch.yaml
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
Due: none

Fix linting errors
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
  specification/schemas/types/ErrorPointer.yaml
Due: none

CCM-6440: API Docs - Send Single Message 400 error example shows wrong pointer (#716)
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/communications-manager.yaml
  specification/responses/2xx/200_NhsAppAccountDetails.yaml
  specification/responses/5xx/503_ServiceUnavailable.yaml
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/enums/ErrorCode.yaml
  specification/schemas/enums/ErrorTitle.yaml
  specification/schemas/requests/CreateMessageBatch.yaml
  specification/schemas/responses/MessageResponse.yaml
  specification/schemas/responses/NhsAppAccDetailsResponse.yaml
  specification/schemas/responses/errors/message_batches/UnableToProcessBatch.yaml
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
  specification/schemas/types/ErrorDetail.yaml
  specification/schemas/types/ErrorIdentifier.yaml
  specification/schemas/types/ErrorPointer.yaml
  specification/schemas/types/RoutingPlan.yaml
  specification/snippets/MessageReferenceSnippet.yaml
Due: none

CCM-5328: contact detail internal dev and sandbox apim tests (#718)
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/happy_path.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/happy_path.md
  docs/tests/sandbox/post_v1_messages/validation.md
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_messages_valid_contact_details.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_many.rst
  tests/docs/partials/validation/test_invalid_contact_details_address_postcode.rst
  tests/docs/partials/validation/test_invalid_contact_details_email.rst
  tests/docs/partials/validation/test_invalid_contact_details_sms.rst
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/messages/create_messages/test_field_validation.py
  tests/sandbox/messages/create_messages/test_success.py
Due: lint-js, lint-python

CCM-5989: Translate rate limit error response
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
Due: none

CCM-5989: Translate rate limit error response
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/JavaScript.TranslateQuotaErrors.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
Due: none

CCM-5989: Translate rate limit error response
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/JavaScript.TranslateQuotaErrors.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
Due: none

CCM-5989: Translate rate limit error response
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
Due: none

CCM-5989: Test
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

CCM-5989: Translate rate limit error response
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
Due: none

CCM-5989: Rate limiting tests
  Makefile
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  proxies/shared/resources/jsc/TranslateQuotaErrors.js
  pytest.ini
  tests/development/rate_limiting/test_429_errors.py
  tests/lib/assertions.py
  tests/lib/fixtures.py
  tests/lib/generators.py
  tests/lib/rate_limiting.py
  tests/sandbox/test_429_errors.py
Due: lint-python

CCM-5989: Rate limiting tests
  tests/lib/rate_limiting.py
Due: lint-python

CCM-5989: Rate limiting tests
  Makefile
  scripts/generate_bearer_token.py
  tests/development/rate_limiting/test_429_errors.py
  tests/lib/authentication.py
  tests/lib/fixtures.py
  tests/lib/rate_limiting.py
Due: lint-python

CCM-5989: Rate limiting tests
  scripts/generate_bearer_token.py
  tests/docs/partials/too_many_requests/test_200_specific_app_quota_different_app.rst
Due: lint-python

CCM-5989: Rate limiting tests
  tests/development/rate_limiting/test_429_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/development/generic/too_many_requests.rst
  tests/docs/partials/too_many_requests/test_429_global_app_quota.rst
  tests/docs/partials/too_many_requests/test_429_global_app_spikearrest.rst
  tests/docs/partials/too_many_requests/test_429_proxy_quota.rst
  tests/docs/partials/too_many_requests/test_429_proxy_spikearrest.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_quota.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_quota_different_app.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_spikearrest.rst
  tests/docs/partials/too_many_requests/test_429_specific_app_spikearrest_different_app.rst
Due: lint-python

CCM-5989: Rate limiting tests
  tests/lib/fixtures.py
Due: lint-python

CCM-5989: Rate limiting tests
  docs/tests/development/generic/index.md
  docs/tests/development/generic/too_many_requests.md
  docs/tests/development/index.md
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
