Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM-8648: update example.env
  .env
  example.env
Due: none

CCM-8638: Update test documentation and .env file
  README.md
  example.env
Due: none

CCM-8638: Tweaks
  README.md
Due: none

CCM-8596: Update Message and Channel Status Callback docs (#899)
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/documentation/APIDescription.md
Due: none

CCM-8638: Update with damien feedback
  README.md
Due: none

CCM-8638: Update README and sample .env file (#901)
  README.md
  example.env
Due: none

CCM-9223: Update release pipeline to pass in 'environment' variable
  azure/azure-release-pipeline.yml
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python

CCM-9223: Update release pipeline to pass in 'environment' variable (#904)
  azure/azure-release-pipeline.yml
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python

Revert "CCM-9210: Release v4.39.1"
  azure/azure-release-pipeline.yml
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python

CCM-9223: Fix typo
  azure/azure-release-pipeline.yml
Due: none

CCM-9223: Fix typo (#908)
  azure/azure-release-pipeline.yml
Due: none

CCM-9223: Typo - again
  azure/azure-release-pipeline.yml
Due: none

ccm-9223: Fix pipeline
  azure/azure-release-pipeline.yml
Due: none

CCM-9223: pipeline fix - from release
  azure/azure-release-pipeline.yml
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python

CCM-9223: Remove unused test reports
  azure/azure-release-pipeline.yml
Due: none

CCM-9232: [API Docs] Change MinItems from 1 to 0 on `channels` array
  specification/schemas/components/MessageStatus.yaml
Due: none

CCM-9223: Fix Release Pipeline
  azure/azure-release-pipeline.yml
Due: none

CCM-9223: Fix Release Pipeline (#915)
  azure/azure-release-pipeline.yml
Due: none

CCM-9232: [API Docs] Change MinItems from 1 to 0 on `channels` array (#914)
  specification/schemas/components/MessageStatus.yaml
Due: none

CCM-0000: 4.39.3 Nightly fix
  tests/lib/fixtures.py
Due: lint-python

CCM-0000: 4.39.3 switch to nonprod credentials
  azure/templates/run-tests.yml
  tests/lib/fixtures.py
Due: lint-python

CCM-0000: 4.39.3 switch to nonprod credentials
  azure/templates/run-tests.yml
Due: none

CCM-0000: 4.39.3 set apigee access token
  azure/templates/run-tests.yml
Due: none

CCM-8270: Aggregate metadata errors
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

NO_JIRA: do not merge
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-9367: Fix nightly int/prod pipelines
  azure/templates/run-tests.yml
Due: none

CCM-0001: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-9367: Fix nightly int/prod pipelines (#919)
  azure/templates/run-tests.yml
Due: none

CCM-8270: Aggregate metadata errors (#897)
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-7897: Update API docs for free-text comms
  specification/documentation/APIDescription.md
Due: none

CCM-9523: Update API docs for free-text comms
  specification/documentation/APIDescription.md
Due: none

CCM-9523: Update API docs for free-text comms (#921)
  specification/documentation/APIDescription.md
Due: none

CCM-0003: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none
