Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM-6742: temporary commit to break dob validation, and see what happens
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6472: documentation update to make better sense for both message batches and single messages
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
Due: none

CCM-6595: update sandbox test
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-6595: fixed indexing issue
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

Add APIM sandbox test
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

Add APIM sandbox test - fix indentation
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

Add APIM sandbox test - updates docs
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

Add APIM sandbox test - updates docs
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

Update tests/lib/constants/constants.py
  tests/lib/constants/constants.py
Due: lint-python

Add APIM sandbox test - error code
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6595: update sandbox tests
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
Due: lint-js

CCM-6595: initial test - sandbox change
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-5394: remove new section from onboarding and update overview
  specification/documentation/APIDescription.md
Due: none

CCM-6472: update tests to work for the release rather than for the nightlies
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-6472: consolidate definition of too few address line error for tests
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/constants/constants.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6434: Added details of the structure for returning a list of message IDs in the Batch Send API's response
  specification/schemas/responses/MessageBatch.yaml
Due: none

CCM-5394: add note that mobile numbers need to be GB
  specification/schemas/components/Recipient.yaml
Due: none

CCM-6472 contact details tests (#735)
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/happy_path.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/development/generic/too_many_requests.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_success.py
  tests/lib/constants/constants.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6471: documentation tweak
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
Due: none

CCM-6471: apply changes to new int and prod tests
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6471: temp changes to test backend integration
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6471: temp changes to test backend integration
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
Due: none

CCM-6362: adjust timeouts
  tests/lib/helper.py
Due: lint-python

CCM-6534: Introduce ref2 environment (#727)
  azure/azure-release-pipeline.yml
  manifest_template.yml
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-5394 Contact details API documentation (#742)
  specification/documentation/APIDescription.md
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  specification/schemas/components/Recipient.yaml
  specification/schemas/responses/errors/message_batches/UnableToProcessBatch.yaml
  specification/schemas/responses/errors/messages/UnableToProcessMessage.yaml
  specification/schemas/types/ErrorPointer.yaml
Due: none

CCM-6471: revert temp changes to test backend integration
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6362: add global timeout for test function
  tests/lib/helper.py
Due: lint-python

CCM-6457: Update API docs for SMS/Email free text
  specification/documentation/APIDescription.md
Due: none

CCM-6453: add freetext sms and email to sandbox
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/global_free_text.js
  sandbox/handlers/messages.js
  sandbox/handlers/utils.js
Due: lint-js

CCM-6416: no mergy
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6595: update sandbox tests
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-0000: haisdhuiwhefinwsdfh
  dorequest.sh
  package-lock.json
  proxies/live/apiproxy/targets/target.xml
  request_body.json
Due: none

CCM-6595: update sandbox tests
  tests/lib/constants/constants.py
Due: lint-python

CCM-0000 hiwefhuwefhiwief
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-0000 hiwefhuwefhiwief
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
  request_body.json
Due: none

CCM-2166: Test
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-2166: Test
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-6362: add global timeout for expect functions
  tests/lib/helper.py
Due: lint-python
