Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6892: update too-many-address-lines error message
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-6892: update too-many-address-lines error message
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
Due: lint-js

CCM-8384: Change conditional so that undefined returns true
  proxies/shared/resources/jsc/helpers/validationChecks.js
Due: none

CCM-8596: First draft of changes
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
Due: none

CCM-8384: Remove NHS number from missing path and add integration tests that pass when NHS number is undefined
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_messages/happy_path.md
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/happy_path/test_201_message_batch_undefined_nhs_number.rst
  tests/docs/partials/happy_path/test_201_messages_undefined_nhs_number.rst
  tests/lib/constants/message_batches_paths.py
  tests/lib/constants/messages_paths.py
Due: lint-python

CCM-6892: update text number validation (#885)
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-6892: update text number validation (#885)
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-8384: Amend NHS number validation (#887)
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_messages/happy_path.md
  proxies/shared/resources/jsc/helpers/validationChecks.js
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/happy_path/test_201_message_batch_undefined_nhs_number.rst
  tests/docs/partials/happy_path/test_201_messages_undefined_nhs_number.rst
  tests/lib/constants/message_batches_paths.py
  tests/lib/constants/messages_paths.py
Due: lint-python

CCM-8567: Smoothing
  docs/tests/development/index.md
  docs/tests/development/post_v1_messages/invalid_routing_plans.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/index.md
  docs/tests/integration/index.md
  docs/tests/integration/post_v1_messages/happy_path.md
  docs/tests/integration/post_v1_messages/index.md
  docs/tests/integration/post_v1_messages/invalid_routing_plans.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/post_v1_message-batches/invalid_routing_plans.md
  docs/tests/post_v1_messages/happy_path.md
  docs/tests/post_v1_messages/index.md
  docs/tests/post_v1_messages/invalid_routing_plans.md
  docs/tests/post_v1_messages/validation.md
  docs/tests/production/index.md
  docs/tests/production/post_v1_messages/index.md
  docs/tests/sandbox/post_v1_message-batches/invalid_routing_plans.md
  docs/tests/sandbox/post_v1_messages/invalid_routing_plans.md
  tests/api/single_message/field_validation/test_400_invalid.py
  tests/api/single_message/field_validation/test_400_invalid_contact_details.py
  tests/api/single_message/field_validation/test_400_null_value.py
  tests/api/single_message/field_validation/test_400_property_missing.py
  tests/api/single_message/field_validation/test_400_too_large.py
  tests/api/single_message/test_201_success.py
  tests/api/single_message/test_404_invalid_routing_plan.py
  tests/api/single_message/test_422_error.py
  tests/api/single_message/test_500_missing_templates.py
  tests/api/single_message/test_not_permitted_to_use_contact_details.py
  tests/docs/development/index.rst
  tests/docs/index.rst
  tests/docs/partials/duplicate_request/test_422_duplicate_request.rst
Due: lint-python

CCM-8466: Fix failing test
  tests/development/messages/create_messages/test_not_permitted_to_use_contact_details.py
Due: lint-python

CCM-8463: Migrate authentication tests
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/authentication.md
  docs/tests/generic/headers.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/authentication.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/authentication.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  docs/tests/sandbox/generic/authentication.md
  tests/api/authentication/__init__.py
  tests/api/authentication/test_401_errors.py
  tests/api/authentication/test_403_errors.py
  tests/development/authentication/test_401_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/generic/authentication.rst
  tests/docs/generic/index.rst
  tests/docs/integration/generic/authentication.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/authentication/test_401_invalid.rst
  tests/docs/partials/authentication/test_401_invalid_level.rst
  tests/docs/partials/authentication/test_user_token_get.rst
  tests/docs/partials/headers/test_cors_options.rst
  tests/docs/production/generic/authentication.rst
  tests/docs/production/generic/index.rst
  tests/integration/authentication/__init__.py
  tests/integration/authentication/test_401_errors.py
  tests/lib/constants/constants.py
  tests/production/authentication/__init__.py
  tests/production/authentication/test_401_errors.py
Due: lint-python

CCM-8463: Remove references to correlation id in docs
  docs/tests/generic/authentication.md
  docs/tests/sandbox/generic/authentication.md
  tests/docs/partials/authentication/test_401_invalid.rst
  tests/docs/partials/authentication/test_401_invalid_level.rst
  tests/docs/partials/authentication/test_user_token_get.rst
Due: none

CCM-8567: Mark invalid contact details test as devtest
  tests/api/single_message/test_not_permitted_to_use_contact_details.py
Due: lint-python

CCM-8467: Disable 200 tests on prod
  tests/api/message_batches/test_201_success.py
  tests/api/single_message/test_201_success.py
Due: lint-python

CCM-8891: Add allow international sms numbers tests
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_success.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/messages/create_messages/test_success.py
Due: lint-python

CCM-8463: Migrate authentication tests (#893)
  docs/tests/development/generic/authentication.md
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/authentication.md
  docs/tests/generic/headers.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/authentication.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/authentication.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  docs/tests/sandbox/generic/authentication.md
  tests/api/authentication/__init__.py
  tests/api/authentication/test_401_errors.py
  tests/api/authentication/test_403_errors.py
  tests/development/authentication/test_401_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/generic/authentication.rst
  tests/docs/generic/index.rst
  tests/docs/integration/generic/authentication.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/authentication/test_401_invalid.rst
  tests/docs/partials/authentication/test_401_invalid_level.rst
  tests/docs/partials/authentication/test_user_token_get.rst
  tests/docs/partials/headers/test_cors_options.rst
  tests/docs/production/generic/authentication.rst
  tests/docs/production/generic/index.rst
  tests/integration/authentication/__init__.py
  tests/integration/authentication/test_401_errors.py
  tests/lib/constants/constants.py
  tests/production/authentication/__init__.py
  tests/production/authentication/test_401_errors.py
Due: lint-python

CCM-8891: Add allow international sms numbers tests (#895)
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_success.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/messages/create_messages/test_success.py
Due: lint-python

CCM-8270: Aggregate metadata errors
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-8474: Migrate ratelimiting to API directory
  Makefile
  tests/development/__init__.py
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

CCM-8474: Migrate ratelimiting to API directory
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/index.md
  docs/tests/generic/too_many_requests.md
  docs/tests/index.md
  tests/api/rate_limiting/__init__.py
  tests/api/rate_limiting/test_429_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/development/index.rst
  tests/docs/generic/index.rst
  tests/docs/generic/too_many_requests.rst
  tests/docs/index.rst
  tests/docs/partials/too_many_requests/test_429_global_app_quota.rst
Due: lint-python

CCM-8474: Fix PR Branch issue
  tests/lib/fixtures.py
Due: lint-python

CCM-8270: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

Feature/ccm 8474 (#898)
  Makefile
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/index.md
  docs/tests/generic/too_many_requests.md
  docs/tests/index.md
  tests/api/rate_limiting/__init__.py
  tests/api/rate_limiting/test_429_errors.py
  tests/docs/development/generic/index.rst
  tests/docs/development/index.rst
  tests/docs/generic/index.rst
  tests/docs/generic/too_many_requests.rst
  tests/docs/index.rst
  tests/docs/partials/too_many_requests/test_429_global_app_quota.rst
  tests/lib/fixtures.py
Due: lint-python

CCM-8596: Update Message and Channel Status Callback docs
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/documentation/APIDescription.md
Due: none

Fixed typos in existing content
  specification/documentation/APIDescription.md
Due: none

CCM-8648: Update test documentation and .env file
  .env
  README.md
Due: none

CCM-8648: Update title markdown
  README.md
Due: none

CCM-8648: Update formatting markdown
  README.md
Due: none

CCM-8648: easy to use copy pastes
  README.md
Due: none

CCM-8648: presentation tweaks
  README.md
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
