Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-9690: Fix apim e2e
  tests/end_to_end/test_email.py
  tests/end_to_end/test_letter.py
  tests/end_to_end/test_nhsapp.py
  tests/end_to_end/test_sms.py
  tests/lib/helper.py
Due: lint-python

CCM-9690: Fix apim e2e
  tests/end_to_end/test_nhsapp.py
Due: lint-python

CCM-8894: Update sandbox tests to reflect backend
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-8392: [API Docs] Add name override fields to send single and batch endpoints
  specification/schemas/components/Recipient.yaml
Due: none

CCM-8392: Fix broken link
  specification/documentation/APIDescription.md
Due: none

CCM-8894: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

Address review comments
  specification/schemas/components/Recipient.yaml
Due: none

CCM-8894: Test lastName required and not empty
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-8392: [API Docs] Add name override fields to msg send endpoints (#927)
  specification/documentation/APIDescription.md
  specification/schemas/components/Recipient.yaml
Due: none

CCM-9690: Fix apim e2e auth (#925)
  tests/end_to_end/test_email.py
  tests/end_to_end/test_letter.py
  tests/end_to_end/test_nhsapp.py
  tests/end_to_end/test_sms.py
  tests/lib/helper.py
Due: lint-python

CCM-8221: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-9156: Add clarification about authentication setup
  README.md
  example.env
Due: none

CCM-9156: Update readme for envar setup
  README.md
  example.env
Due: none

CCM-8894: Update sandbox to include patientName scenarios (#926)
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-9861: [API docs] Override `channelStatus` enum values when used in MessageStatus callback
  specification/schemas/components/MessageStatus.yaml
Due: none

CCM-9861: [API docs] Override `channelStatus` enum values when used in MessageStatus callback (#934)
  specification/schemas/components/MessageStatus.yaml
Due: none

CCM-9521: SMS Api Docs for international support
  specification/schemas/components/Recipient.yaml
Due: none

CCM-9521: Wording suggestion
  specification/schemas/components/Recipient.yaml
Due: none

CCM-9521: Clarity and add link
  specification/schemas/components/Recipient.yaml
Due: none

CCM-8523: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10161: Added new global routing config to API docs
  specification/documentation/APIDescription.md
Due: none

CCM-10161: Added new global routing config to API docs (#939)
  specification/documentation/APIDescription.md
Due: none

CCM-10077: repoint to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10077: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10077: update sandbox and unit tests
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-10077: update e2e tests
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  tests/api/message_batches/field_validation/test_400_invalid_contact_details.py
  tests/api/single_message/field_validation/test_400_invalid_contact_details.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-10077: remove too few address lines test
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/lib/constants/constants.py
Due: lint-python

CCM-10077: put ERROR_TOO_FEW_ITEMS constant back
  tests/lib/constants/constants.py
Due: lint-python

CCM-10077: revert repoint to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-9871: Update Redoc to v2.5.0
  package.json
  pnpm-lock.yaml
Due: none

CCM-9963: Upgrade python
  .github/workflows/build.yml
  .github/workflows/continuous-integration.yml
  .tool-versions
  pyproject.toml
Due: none

CCM-9963: Update python dependencies
  poetry.lock
  pyproject.toml
Due: none

CCM-9963: Fix config for latest version of poetry
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
