Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

ccm-2166: test
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
Due: none

CCM-6457: Update API docs for SMS/Email free text (#748)
  specification/documentation/APIDescription.md
Due: none

CCM-6471 amend error code for too few address lines (#724)
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_contact_details_address_lines_too_few.rst
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/generators.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-6453: add freetext sms and email to sandbox (#750)
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/config.js
  sandbox/handlers/error_scenarios/global_free_text.js
  sandbox/handlers/messages.js
  sandbox/handlers/utils.js
Due: lint-js

CCM-6595: review comment
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

Add APIM sandbox test - fix indentation
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-6595: update sandbox tests
  tests/lib/constants/constants.py
Due: lint-python

CCM-6595: fixed indexing issue
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-6595: update sandbox test
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

CCM-6595: review comment
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

Add APIM sandbox test - error code
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6595: review comment
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
Due: none

Update tests/lib/constants/constants.py
  tests/lib/constants/constants.py
Due: lint-python

CCM-6595: update sandbox tests
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
Due: lint-js

CCM-6595: update sandbox tests
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

Add APIM sandbox test - updates docs
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

Add APIM sandbox test
  tests/lib/constants/constants.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6595: initial test - sandbox change
  sandbox/handlers/error_scenarios/override_contact_details.js
Due: lint-js

Add APIM sandbox test - updates docs
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

CCM-6595: review comment
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6696: update existing sandbox response with new schema changes
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
Due: none

Added `Message character limits` section to API docs
  specification/documentation/APIDescription.md
Due: none

CCM-6835: Change bullet list to table
  specification/documentation/APIDescription.md
Due: none

CCM-6126: change these expected status codes back now that we're just under the limit here
  tests/development/message_batches/create_message_batches/test_performance.py
  tests/integration/message_batches/create_message_batches/test_performance.py
  tests/production/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
Due: lint-python

CCM-6126: swap order things appear in for formatting reasons
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
Due: none

CCM-6126: change example
  specification/schemas/enums/ErrorRequestEntityTooLarge.yaml
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
Due: none

CCM-6126: effort to make reference to status code work directly
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
Due: none

CCM-6126: remove 413 errors from other endpoints besides batch
  specification/endpoints/create_message.yaml
  specification/endpoints/get_message.yaml
  specification/endpoints/get_nhsapp_account_details.yaml
Due: none

CCM-6126: documentation updates
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
Due: none

CCM-6126: don't override apigee default for response title
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
Due: none

CCM-6126: adjust status code for too many items error
  proxies/shared/resources/jsc/helpers/validationErrors.js
Due: none

CCM-6126: leave out reasonphrase
  proxies/shared/policies/RaiseFault.4xxGeneric.xml
Due: none

CCM-6126: tests for 413 errors
  tests/docs/partials/performance/test_create_messages_large_invalid_payload.rst
  tests/docs/partials/performance/test_create_messages_large_not_unique_payload.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/docs/partials/too_large/test_payload_too_large.rst
  tests/docs/partials/too_large/test_too_many_messages.rst
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/production/message_batches/create_message_batches/test_too_large.py
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6126: revert mistaken edit
  proxies/shared/partials/Partial.Target.FaultRules.xml
Due: none

CCM-6126: change response format again
  proxies/shared/policies/RaiseFault.413RequestTooLarge.xml
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/production/message_batches/create_message_batches/test_too_large.py
  tests/sandbox/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-6126: fix pointer to error enum
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
Due: none

CCM-6126: remove enums from error pointer
  specification/schemas/responses/errors/RequestEntityTooLarge.yaml
Due: none

CCM-6126: update tests and documentation
  tests/development/message_batches/create_message_batches/test_too_large.py
  tests/docs/partials/too_large/test_payload_too_large.rst
  tests/docs/partials/too_large/test_too_many_messages.rst
  tests/integration/message_batches/create_message_batches/test_too_large.py
  tests/production/message_batches/create_message_batches/test_too_large.py
Due: lint-python

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
