Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

test
  README.md
Due: none

Debugging fun
  .pre-commit-config.yaml
  scripts/check_licences.sh
Due: none

CCM-6127: fix formatting
  README.md
  scripts/check_licences.sh
  scripts/ensure_docs_validity.sh
Due: none

CCM-6127: remove hooks commands in Makefile
  Makefile
Due: none

CCM-6127: test pre-commit install
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

CCM-6127: add pre-commit install to makefile
  Makefile
  package-lock.json
Due: none

CCM-6127: create pre-commit hooks script
  Makefile
  package.json
  pnpm-lock.yaml
  scripts/pre-commit
Due: none

CCM-6127: formatting pre-commit hooks script
  .pre-commit-config.yaml
  scripts/pre-commit
Due: none

CCM-6127: formatting pre-commit hooks script
  scripts/pre-commit
Due: none

CCM-6127: fix stash unstaged changes
  scripts/pre-commit
Due: none

CCM-6127: allow git-secrets pattern
  nhsd-git-secrets/git-secrets
Due: none

CCM-6127: add secrets.allowed to config
  git-secrets
  nhsd-git-secrets/git-secrets
  nhsd-git-secrets/pre-commit-mac.sh
Due: none

CCM-6127: Add linting to pre-commit (#696)
  .pre-commit-config.yaml
  Makefile
  git-secrets
  nhsd-git-secrets/pre-commit-mac.sh
  scripts/check_licences.sh
  scripts/ensure_docs_validity.sh
  scripts/lint_python.sh
  scripts/pre-commit
Due: none

CCM-6099: Fix wrong type of apostrophe
  specification/documentation/APIDescription.md
Due: none

CCM-6099: Fix minor inconsistencies in API docs
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/enums/RoutingPlanType.yaml
  specification/schemas/types/KSUID.yaml
  specification/schemas/types/Links.yaml
  specification/snippets/MessageReference.yaml
Due: none

CCM-6099: Update explanation of Free-text Comms
  specification/documentation/APIDescription.md
Due: none

CCM-6099: Add charset examples
  specification/responses/4xx/406_NotAcceptable.yaml
  specification/responses/4xx/415_UnsupportedMedia.yaml
Due: none

CCM-6099: Renamed to avoid conflict CCM-6099: Fixed mismatched messageIDs
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/callbacks/message-subscription-openapi-spec.json
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/responses/MessageResponse.yaml
  specification/schemas/types/RoutingPlan.yaml
  specification/snippets/MessageReferenceSnippet.yaml
Due: none

CCM-6099: Address review comments
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/responses/errors/UnsupportedMedia.yaml
Due: none

CCM-6099: API documentation fixes (#699)
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/callbacks/message-subscription-openapi-spec.json
  specification/documentation/APIDescription.md
  specification/responses/4xx/406_NotAcceptable.yaml
  specification/responses/4xx/415_UnsupportedMedia.yaml
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/enums/RoutingPlanType.yaml
  specification/schemas/responses/MessageResponse.yaml
  specification/schemas/responses/errors/UnsupportedMedia.yaml
  specification/schemas/types/KSUID.yaml
  specification/schemas/types/Links.yaml
  specification/schemas/types/RoutingPlan.yaml
  specification/snippets/MessageReferenceSnippet.yaml
Due: none

NOJIRA: Do not merge
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-5025: Handle contact details errors
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/ExtractVariables.ErrorDetails.xml
  proxies/shared/policies/JavaScript.EnhanceErrorDetails.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/handlers/config.js
  sandbox/handlers/messages.js
  sandbox/handlers/utils.js
Due: lint-js

CCM-5025: Handle contact details errors
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
Due: none

CCM-5025: Handle contact details errors
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/handlers/messages.js
Due: lint-js

CCM-6020: generate new token if current will expire in 15s
  tests/lib/authentication.py
Due: lint-python

CCM-6020: shift logic
  tests/lib/authentication.py
Due: lint-python

CCM-6020: generate new token if current will expire in 15s (#707)
  tests/lib/authentication.py
Due: lint-python

CCM-5025: address review comments
  sandbox/__test__/messages.spec.js
  sandbox/handlers/messages.js
Due: lint-js

CCM-5025: Refactor rename error message extraction policy
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/ExtractVariables.ErrorMessage.xml
Due: none

Update sandbox/handlers/messages.js
  sandbox/handlers/messages.js
Due: lint-js

CCM-5025: Contact details override error responses (#706)
  proxies/shared/partials/Partial.Target.FaultRules.xml
  proxies/shared/policies/ExtractVariables.ErrorDetails.xml
  proxies/shared/policies/ExtractVariables.ErrorMessage.xml
  proxies/shared/policies/JavaScript.EnhanceErrorDetails.xml
  proxies/shared/policies/RaiseFault.GenericErrorDetails.xml
  proxies/shared/resources/jsc/EnhanceErrorDetails.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/config.js
  sandbox/handlers/messages.js
  sandbox/handlers/utils.js
Due: lint-js

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
