Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-7478: Remove debug again
  scripts/perform-static-analysis.sh
Due: none

CCM-7478: Rewrite LCOV file for correct paths
  .github/workflows/build.yml
  .gitignore
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Tweak coverage generation
  .github/workflows/build.yml
Due: none

CCM-7478: Don't set Node.js path for Sonar
  scripts/config/sonar-scanner.properties
Due: none

Enable debug mode for Sonar scan
  scripts/perform-static-analysis.sh
Due: none

CCM-7478: Try disabling coverage exclusions
  scripts/config/sonar-scanner.properties
Due: none

CCM-0000: Fix sonar issue
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Specify test files to Sonar
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Attempt to fail Sonar quality gate
  .github/workflows/build.yml
Due: none

CCM-7478: Further attempts to break Sonar
  .github/workflows/build.yml
  sandbox/handlers/get_message.js
Due: lint-js

CCM-7478: Further attempt to fail Sonar quality gate
  sandbox/handlers/get_message.js
Due: lint-js

CCM-7478: Try adding a sonar.sources property
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Remove sonar.tests property
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Make Sonar scan fail if quality gate fails
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Attempt to configure test files again
  scripts/config/sonar-scanner.properties
Due: none

CCM-7478: Remove deliberate Sonar failure
  sandbox/handlers/get_message.js
Due: lint-js

CCM-7478: Disable Sonar debug output
  scripts/perform-static-analysis.sh
Due: none

CCM-7478: Enable Test Coverage Reporting in Sonar (#1007)
  .github/workflows/build.yml
  .gitignore
  sandbox/package-lock.json
  sandbox/package.json
  scripts/config/sonar-scanner.properties
Due: none

CCM-9352: Refactor asserions class - tidy up
  tests/lib/assertion_utils/__init__.py
  tests/lib/assertion_utils/common.py
  tests/lib/assertion_utils/get_message.py
  tests/lib/assertion_utils/headers.py
  tests/lib/assertion_utils/message_batches.py
  tests/lib/assertion_utils/messages.py
  tests/lib/assertion_utils/nhsapp_accounts.py
  tests/lib/assertions.py
Due: lint-python

CCM-9353: Fix broken tests
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  tests/lib/assertions/get_message.py
Due: lint-python

CCM-9353: Fix broken tests
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  tests/lib/assertions/get_message.py
Due: lint-python

CCM-9353: Fix broken tests
  tests/lib/assertions/get_message.py
Due: lint-python

CCM-9353: hoy everything in an assertions directory
  tests/lib/__init__.py
  tests/lib/assertions/__init__.py
  tests/lib/assertions/assertions.py
  tests/lib/assertions/common.py
  tests/lib/assertions/get_message.py
  tests/lib/assertions/headers.py
  tests/lib/assertions/message_batches.py
  tests/lib/assertions/messages.py
  tests/lib/assertions/nhsapp_accounts.py
Due: lint-python

CCM-9353: Fix lint issues
  tests/docs/conf.py
  tests/lib/assertions/get_message.py
  tests/lib/assertions/message_batches.py
Due: lint-python

CCM-9353: Add additional assertions
  tests/lib/assertion_utils/common.py
  tests/lib/assertion_utils/get_message.py
  tests/lib/assertion_utils/message_batches.py
  tests/lib/assertion_utils/messages.py
  tests/lib/assertion_utils/nhsapp_accounts.py
  tests/lib/assertions.py
  tests/lib/constants/constants.py
Due: lint-python

CCM-9353: Update sandbox responses
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-9353: whitespace
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
Due: none

CCM-9353: Update sandbox enriched timestamps
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
Due: none

CCM-9353: Revert Enriched timestamp on created and failed channels
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  tests/lib/assertions/get_message.py
Due: lint-python

CCM-9353: Update sandbox enriched timestamps
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
Due: none

CCM-9353: Remove channel enriched
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: none

CCM-9353: Remove channel enriched
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
Due: none

CCM-9353: Remove channel enriched
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
Due: none

CCM-9353: Update string int and list assertions to their own function
  tests/lib/assertions/common.py
  tests/lib/assertions/get_message.py
  tests/lib/assertions/message_batches.py
  tests/lib/assertions/messages.py
  tests/lib/assertions/nhsapp_accounts.py
Due: lint-python

CCM-9353: Address PR Comments
  tests/lib/assertions/assertions.py
  tests/lib/assertions/common.py
  tests/lib/assertions/get_message.py
  tests/lib/assertions/headers.py
  tests/lib/assertions/nhsapp_accounts.py
Due: lint-python

CCM-9353: Address PR Comments
  .tool-versions
  tests/lib/assertions/common.py
Due: lint-python

CCM-9353: Remove nodejs from toolversions
  .tool-versions
Due: none

CCM-9353: Refactor Assertions Class (#1005)
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  tests/docs/conf.py
  tests/lib/__init__.py
  tests/lib/assertions.py
  tests/lib/assertions/__init__.py
  tests/lib/assertions/assertions.py
  tests/lib/assertions/common.py
  tests/lib/assertions/get_message.py
  tests/lib/assertions/headers.py
  tests/lib/assertions/message_batches.py
  tests/lib/assertions/messages.py
  tests/lib/assertions/nhsapp_accounts.py
  tests/lib/constants/constants.py
Due: lint-python

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
