Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-10130: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10914: update documentation for status callback retry duration change
  specification/documentation/APIDescription.md
Due: none

CCM-10914: removing superfluous files
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/callbacks/message-subscription-openapi-spec.json
Due: none

CCM-10914 Update documentation for status callback retry duration change (#962)
  specification/callbacks/channel-subscription-openapi-spec.json
  specification/callbacks/message-subscription-openapi-spec.json
  specification/documentation/APIDescription.md
Due: none

CCM-10447: update for new failed reason codes
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4khXn32dOOj4bB4bi8Tkllrq.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
  specification/documentation/GetMessage.md
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/responses/MessageResponse.yaml
Due: none

CCM-10447: fix sonar scan error
  scripts/perform-static-analysis.sh
Due: none

CCM-10447: amend documentation examples
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/responses/MessageResponse.yaml
Due: none

CCM-11098: remove uuid validation on messageReference
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/Messages.Create.Validate.js
  sandbox/__test__/messages.spec.js
  specification/documentation/CreateMessage.md
  specification/documentation/CreateMessageBatch.md
  specification/schemas/components/Message.yaml
  specification/schemas/requests/CreateMessage.yaml
  specification/schemas/requests/CreateMessageBatch.yaml
  specification/schemas/responses/MessageBatch.yaml
  specification/schemas/types/MessageReference.yaml
  specification/snippets/MessageReferenceSnippet.yaml
Due: lint-js

CCM-11098: attempt to fix breaking tests
  Makefile
  docs/tests/post_v1_single-message/validation.md
  tests/api/message_batches/field_validation/test_400_invalid.py
  tests/api/single_message/field_validation/test_400_invalid.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-11098: fix docs hash mismatch error
  docs/tests/post_v1_single-message/validation.md
Due: none

CCM-11098: update docker image
  scripts/perform-static-analysis.sh
Due: none

CCM-10448: add an e2e test for a failed message
  tests/docs/partials/happy_path/test_invalid_end_to_end_internal_dev.rst
  tests/docs/partials/happy_path/test_invalid_end_to_end_uat.rst
  tests/end_to_end/test_failure.py
  tests/lib/assertions.py
  tests/lib/generators.py
  tests/lib/helper.py
Due: lint-python

CCM-11098: add string validation to messageReference
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  package-lock.json
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/Messages.Create.Validate.js
  proxies/shared/resources/jsc/helpers/validationChecks.js
  pytest.ini
  sandbox/__test__/messages.spec.js
  tests/api/message_batches/field_validation/test_400_invalid.py
  tests/api/single_message/field_validation/test_400_invalid.py
  tests/docs/partials/validation/test_invalid_message_batch_reference.rst
  tests/docs/partials/validation/test_invalid_message_reference.rst
  tests/lib/constants/message_batches_paths.py
Due: lint-js, lint-python

CCM-11098: update sanbox tests
  tests/lib/constants/messages_paths.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-10448: move new e2e test for a failed message
  docs/tests/post_v1_message-batches/happy_path.md
  docs/tests/post_v1_single-message/happy_path.md
  tests/api/message_batches/test_201_success.py
  tests/api/single_message/test_201_success.py
  tests/docs/partials/happy_path/test_201_message_batch_terminal_failed_status.rst
  tests/docs/partials/happy_path/test_201_messages_terminal_failed_status.rst
  tests/docs/partials/happy_path/test_invalid_end_to_end_internal_dev.rst
  tests/docs/partials/happy_path/test_invalid_end_to_end_uat.rst
  tests/lib/generators.py
Due: lint-python

CCM-10448: amend documentation for new e2e test for a failed message
  docs/tests/post_v1_message-batches/happy_path.md
  docs/tests/post_v1_single-message/happy_path.md
  tests/docs/partials/happy_path/test_201_message_batch_terminal_failed_status.rst
  tests/docs/partials/happy_path/test_201_messages_terminal_failed_status.rst
Due: none

CCM-11098: remove comments
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/Messages.Create.Validate.js
Due: none

CCM-10448: repoint backend to de-iaho3
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-11098: remove uuid validation on messageReference (#964)
  Makefile
  docs/tests/post_v1_message-batches/validation.md
  docs/tests/post_v1_single-message/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
  package-lock.json
  proxies/shared/resources/jsc/MessageBatches.Create.Validate.js
  proxies/shared/resources/jsc/Messages.Create.Validate.js
  proxies/shared/resources/jsc/helpers/validationChecks.js
  pytest.ini
  scripts/perform-static-analysis.sh
  specification/documentation/CreateMessage.md
  specification/documentation/CreateMessageBatch.md
  specification/schemas/components/Message.yaml
  specification/schemas/requests/CreateMessage.yaml
  specification/schemas/requests/CreateMessageBatch.yaml
  specification/schemas/responses/MessageBatch.yaml
  specification/schemas/types/MessageReference.yaml
  specification/snippets/MessageReferenceSnippet.yaml
  tests/api/message_batches/field_validation/test_400_invalid.py
  tests/api/single_message/field_validation/test_400_invalid.py
  tests/docs/partials/validation/test_invalid_message_batch_reference.rst
  tests/docs/partials/validation/test_invalid_message_reference.rst
  tests/lib/constants/message_batches_paths.py
  tests/lib/constants/messages_paths.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-10448: move new e2e test for a failed message
  tests/end_to_end/test_failure.py
Due: lint-python

CCM-10446: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10447: revert repoint backend to de-iaho3
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-10447: revert repoint backend to de-iaho3
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-10447: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-8911: Upgrade jinja2
  poetry.lock
  pyproject.toml
Due: none

CCM-8912: Upgrade prismjs
  pnpm-lock.yaml
Due: none

CCM-11522: Update API Docs "Onboarding" section
  specification/documentation/APIDescription.md
Due: none

CCM-8912: Updated poetry lock file
  poetry.lock
Due: none

CCM-11522: Update API Docs "Onboarding" section (#971)
  specification/documentation/APIDescription.md
Due: none

CCM-10447 Update for new failed reason codes (#963)
  docs/tests/post_v1_message-batches/happy_path.md
  docs/tests/post_v1_single-message/happy_path.md
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4khXn32dOOj4bB4bi8Tkllrq.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
  specification/documentation/GetMessage.md
  specification/schemas/components/MessageStatus.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/responses/MessageResponse.yaml
  tests/api/message_batches/test_201_success.py
  tests/api/single_message/test_201_success.py
  tests/docs/partials/happy_path/test_201_message_batch_terminal_failed_status.rst
  tests/docs/partials/happy_path/test_201_messages_terminal_failed_status.rst
  tests/lib/assertions.py
  tests/lib/helper.py
Due: lint-python

CCM-8911/CCM-8912: Jinja2 and PrismJS upgrades (#972)
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
Due: none

CCM-10538: Update API Docs wording on duplicate request period
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
Due: none

CCM-0000: Upgrade pytest-nhsd-apim dependency with fixed version
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
