Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-5694: resolve pr comments
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/README.md
Due: none

CCM-5694: added scripts to automate repointing comms api at dynamic environment (#773)
  .tool-versions
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/README.md
  scripts/repoint-frontend/repoint_frontend.sh
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

CCM-0000: A commit or something?
  tests/docs/conf.py
Due: lint-python

CCM-0000: A signed commit or something
  tests/docs/conf.py
Due: lint-python

CCM-7660: Update wording of "additive non-breaking" changes disclaimer
  specification/documentation/APIDescription.md
Due: none

CCM-7660: Update wording of "additive non-breaking" changes disclaimer (#816)
  specification/documentation/APIDescription.md
Due: none

CCM-5199: make sure installing get_token is included in setup instructions
  README.md
Due: none

CCM-7385: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7717: Fix channel status callback enum
  specification/schemas/components/SupplierStatus.yaml
Due: none

CCM-5199: make sure installing get_token is included in setup instructions (#817)
  README.md
Due: none

CCM-7717: Fix channel status callback enum (#819)
  specification/schemas/components/SupplierStatus.yaml
Due: none

CCM-7019: Set rate limit to 1800 TPS for ref and ref2
  manifest_template.yml
Due: none

CCM-7019: Set rate limit to 1800 TPS for ref and ref2 (#821)
  manifest_template.yml
Due: none

CCM-7385: Update API response for duplicate requests
  proxies/shared/partials/Partial.Target.PreFlowRequest.xml
  proxies/shared/policies/RaiseFault.422DuplicateBatchRequest.xml
  proxies/shared/policies/RaiseFault.422DuplicateMessageRequest.xml
  specification/endpoints/create_message.yaml
  specification/endpoints/create_message_batch.yaml
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
  specification/schemas/enums/ErrorDuplicateRequest.yaml
  specification/schemas/responses/errors/message_batches/DuplicateBatchRequest.yaml
  specification/schemas/responses/errors/messages/DuplicateMessageRequest.yaml
  tests/docs/partials/duplicate_request/test_422_duplicate_request.rst
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_422_error.py
  tests/sandbox/messages/create_messages/test_422_error.py
Due: lint-python

CCM-7385: Update API response for duplicate requests
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
  specification/schemas/responses/errors/message_batches/DuplicateBatchRequest.yaml
  specification/schemas/responses/errors/messages/DuplicateMessageRequest.yaml
Due: none

CCM-7385: Update API response for duplicate requests
  proxies/shared/policies/RaiseFault.422DuplicateMessageRequest.xml
Due: none

CCM-7385: Update API response for duplicate requests
  tests/sandbox/message_batches/create_message_batches/test_422_error.py
  tests/sandbox/messages/create_messages/test_422_error.py
Due: lint-python

CCM-7385: Update API response for duplicate requests
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
  tests/sandbox/message_batches/create_message_batches/test_422_error.py
Due: lint-python

CCM-7385: Add dev tests
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_messages/happy_path.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  tests/development/message_batches/create_message_batches/test_422_error.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_422_error.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/happy_path/test_201_message_batches_request_idempotency.rst
  tests/sandbox/message_batches/create_message_batches/test_422_error.py
  tests/sandbox/messages/create_messages/test_422_error.py
Due: lint-python

CCM-7385: Add dev tests
  tests/development/message_batches/create_message_batches/test_422_error.py
  tests/development/messages/create_messages/test_422_error.py
Due: lint-python

CCM-7385: Point at de-sila7
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7385: Address review comments
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
Due: none

CCM-7385: TEST
  .tool-versions
  package-lock.json
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7385: Update API response for duplicate requests (#823)
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_messages/happy_path.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  proxies/shared/partials/Partial.Target.PreFlowRequest.xml
  proxies/shared/policies/RaiseFault.422DuplicateBatchRequest.xml
  proxies/shared/policies/RaiseFault.422DuplicateMessageRequest.xml
  specification/endpoints/create_message.yaml
  specification/endpoints/create_message_batch.yaml
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
  specification/schemas/enums/ErrorDuplicateRequest.yaml
  specification/schemas/responses/errors/message_batches/DuplicateBatchRequest.yaml
  specification/schemas/responses/errors/messages/DuplicateMessageRequest.yaml
  tests/development/message_batches/create_message_batches/test_422_error.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/development/messages/create_messages/test_422_error.py
  tests/development/messages/create_messages/test_success.py
  tests/docs/partials/duplicate_request/test_422_duplicate_request.rst
  tests/docs/partials/happy_path/test_201_message_batches_request_idempotency.rst
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_422_error.py
  tests/sandbox/messages/create_messages/test_422_error.py
Due: lint-python

CCM-6434: Restore PR# 759
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
Due: lint-js, lint-python

CCM-6434: Restore PR# 759
  proxies/sandbox/apiproxy/targets/sandbox.xml
  tests/sandbox/test_504_errors.py
Due: lint-python

CCM-6434: Restore PR# 759
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
Due: none

CCM-6434: ref deployment
  azure/azure-release-pipeline.yml
Due: none

CCM-6434: ref deployment
  Makefile
Due: none

CCM-7681: Removed DOB from Recipient.yaml
  specification/schemas/components/Recipient.yaml
Due: none

CCM-7681: Removed DOB from curl example
  specification/documentation/CreateMessage.md
Due: none

CCM-6434: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7681: Removed DOB from messagebatch
  specification/documentation/CreateMessageBatch.md
Due: none

CCM-7681: Removed DOB from status 4xx and 5xx status codes
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/message_batches/404_NoSuchRoutingPlanForBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  specification/responses/4xx/messages/404_NoSuchRoutingPlanForMessage.yaml
  specification/responses/5xx/message_batches/500_InternalServerErrorForBatch.yaml
  specification/responses/5xx/messages/500_InternalServerErrorForMessage.yaml
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
