Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

replace `{}` in links (Bloomreach adds them)
  specification/documentation/APIDescription.md
Due: none

include recipient-response in ZAP exclusions (as not in our API)
  scripts/publish_zap_compatible.py
Due: lint-python

correction to links in recipient-response schema
  specification/schemas/components/RecipientResponse.yaml
Due: none

CCM-17830: remove duplicate sandbox/coverage/tmp deletion
  scripts/perform-static-analysis.sh
Due: none

CCM-17830: sonar security fixes
  .github/workflows/build.yml
Due: none

CCM-17830: Double PROD rate limits (#1068)
  .github/workflows/build.yml
  Makefile
  manifest_template.yml
  package-lock.json
  package.json
  scripts/perform-static-analysis.sh
Due: none

CCM-22090: Recipient response message retrieval API
  proxies/live/apiproxy/targets/target.xml
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/partials/Partial.Flows.GetMessageResponsesEndpoint.xml
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Request.xml
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Response.xml
  proxies/shared/policies/ExtractVariables.MessageResponses.Get.Request.xml
  proxies/shared/resources/jsc/Routing.CheckValid.js
  sandbox/__test__/message_responses.spec.js
  sandbox/app.js
  sandbox/handlers/index.js
  sandbox/handlers/message_responses.js
  tests/api/message_responses/__init__.py
  tests/api/message_responses/test_200_success.py
  tests/api/message_responses/test_404.py
  tests/lib/constants/message_responses_paths.py
  tests/sandbox/message_responses/__init__.py
  tests/sandbox/message_responses/test_400.py
  tests/sandbox/message_responses/test_404.py
  tests/sandbox/message_responses/test_500.py
  tests/sandbox/message_responses/test_502.py
  tests/sandbox/message_responses/test_success.py
Due: lint-js, lint-python

CCM-22090: Fixed lint
  tests/sandbox/message_responses/test_500.py
Due: lint-python

CCM-22090: Added documentation
  specification/communications-manager.yaml
  specification/documentation/APIDescription.md
  specification/documentation/GetResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/2xx/200_Responses.yaml
  specification/responses/4xx/message_responses/400_UnableToGetResponses.yaml
  specification/schemas/components/ResponseItem.yaml
  specification/schemas/responses/GetResponsesSuccess.yaml
  specification/schemas/responses/errors/message_responses/UnableToGetResponses.yaml
Due: none

CCM-22090: Revised documentation
  specification/documentation/GetResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/4xx/message_responses/422_TooManyResponses.yaml
  specification/schemas/components/ResponseItem.yaml
  specification/schemas/enums/ErrorTooManyResponses.yaml
  specification/schemas/responses/GetResponsesSuccess.yaml
  specification/schemas/responses/errors/message_responses/TooManyResponses.yaml
Due: none

CCM-22090: PR feedback
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Request.xml
  proxies/shared/policies/ExtractVariables.MessageResponses.Get.Request.xml
  sandbox/handlers/message_responses.js
  specification/communications-manager.yaml
  specification/documentation/APIDescription.md
  specification/documentation/GetMessageResponses.md
  specification/documentation/GetResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/2xx/200_Responses.yaml
  specification/schemas/components/ResponseItem.yaml
  specification/schemas/responses/GetResponsesSuccess.yaml
  specification/schemas/responses/MessageResponses.yaml
Due: lint-js

CCM-22090: PR feedback
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
  specification/communications-manager.yaml
  specification/documentation/APIDescription.md
  specification/documentation/GetMessageResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/2xx/200_Responses.yaml
  specification/responses/4xx/406_NotAcceptable.yaml
  specification/responses/4xx/415_UnsupportedMedia.yaml
  specification/responses/4xx/message_responses/400_UnableToGetResponses.yaml
  specification/responses/4xx/message_responses/422_TooManyResponses.yaml
  specification/schemas/components/ResponseItem.yaml
  specification/schemas/enums/ErrorTooManyResponses.yaml
  specification/schemas/responses/errors/message_responses/TooManyResponses.yaml
  specification/schemas/responses/errors/message_responses/UnableToGetResponses.yaml
  tests/sandbox/message_responses/test_success.py
Due: lint-js, lint-python

CCM-22090: Migrate app response API to JSON:API format
  specification/documentation/GetMessageResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/2xx/200_Responses.yaml
  specification/responses/4xx/message_responses/400_MessageResponsesInvalidRequest.yaml
  specification/responses/4xx/message_responses/400_UnableToGetResponses.yaml
  specification/responses/4xx/message_responses/422_TooManyResponses.yaml
  specification/responses/5xx/message_responses/500_MessageResponsesInternalServerError.yaml
  specification/schemas/components/ResponseItem.yaml
  specification/schemas/enums/EnumRecipientResponseSnapshot.yaml
  specification/schemas/enums/ErrorMessageResponsesInternalServerError.yaml
  specification/schemas/responses/MessageResponses.yaml
  specification/schemas/responses/RecipientResponseSnapshot.yaml
  specification/schemas/responses/errors/message_responses/MessageResponsesInternalServerError.yaml
  specification/schemas/responses/errors/message_responses/MessageResponsesInvalidRequest.yaml
  specification/schemas/responses/errors/message_responses/TooManyResponses.yaml
  specification/schemas/responses/errors/message_responses/UnableToGetResponses.yaml
Due: none

CCM-22090: PR feedback
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
  specification/documentation/GetMessageResponses.md
  specification/responses/4xx/415_UnsupportedMedia.yaml
Due: lint-js

CCM-22090: Reverted shared file
  specification/responses/4xx/415_UnsupportedMedia.yaml
Due: none

CCM-22090: PR feedback
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
Due: lint-js

CCM-22090: PR feedback
  proxies/live/apiproxy/proxies/default.xml
  proxies/live/apiproxy/targets/app-response-target.xml
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
  specification/documentation/GetMessageResponses.md
  specification/endpoints/get_responses.yaml
  specification/responses/2xx/200_Responses.yaml
  specification/schemas/enums/EnumRecipientResponse.yaml
  specification/schemas/enums/EnumRecipientResponseSnapshot.yaml
  specification/schemas/responses/RecipientResponse.yaml
  tests/lib/constants/message_responses_paths.py
  tests/sandbox/message_responses/test_500.py
Due: lint-js, lint-python

CCM-22090: PR feedback
  docs/proxies.md
  proxies/shared/partials/Partial.Flows.GetMessageResponsesEndpoint.xml
  proxies/shared/policies/JavaScript.MessageResponses.Get.Validate.xml
  proxies/shared/resources/jsc/MessageResponses.Get.Validate.js
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
  specification/callbacks/recipient_response.yaml
  specification/schemas/components/RecipientResponseCallback.yaml
Due: lint-js

CCM-22090: Added message responses to security tests
  tests/lib/constants/constants.py
Due: lint-python

CCM-22090: Reverted change
  proxies/shared/partials/Partial.Flows.GetMessageResponsesEndpoint.xml
Due: none

CCM-22090: PR feedback
  proxies/shared/resources/jsc/MessageResponses.Get.Validate.js
  proxies/shared/resources/jsc/helpers/validationChecks.js
  proxies/shared/resources/jsc/helpers/validationErrors.js
  tests/api/message_responses/test_400.py
  tests/lib/constants/constants.py
Due: lint-python

CCM-23379: Fix INT APIM tests
  postman/NhsNotify.Integration.postman_collection.json
  tests/lib/constants/nhsapp_accounts_paths.py
Due: lint-python

CCM-22090: PR feedback.
  proxies/shared/partials/Partial.Flows.GetMessageResponsesEndpoint.xml
  tests/api/message_responses/test_200_success.py
  tests/api/message_responses/test_400.py
  tests/api/message_responses/test_404.py
  tests/sandbox/message_responses/test_success.py
Due: lint-python

CCM-23379: Fix INT APIM tests (#1095)
  postman/NhsNotify.Integration.postman_collection.json
  tests/lib/constants/nhsapp_accounts_paths.py
Due: lint-python

CCM-22090: Test fixes
  proxies/shared/partials/Partial.Flows.GetMessageResponsesEndpoint.xml
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Request.xml
  sandbox/__test__/message_responses.spec.js
  sandbox/handlers/message_responses.js
Due: lint-js

CCM-22090: Bug fix for 404 response
  proxies/shared/partials/Partial.Target.FaultRules.xml
Due: none

CCM-22090: Test fix
  sandbox/app.js
Due: lint-js

CCM-22090: Ensure app response tests only run in supported environments
  tests/api/message_responses/test_200_success.py
  tests/api/message_responses/test_400.py
  tests/api/message_responses/test_404.py
Due: lint-python

CCM-22090: PR feedback
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Request.xml
  sandbox/__test__/message_responses.spec.js
  sandbox/app.js
  specification/endpoints/get_responses.yaml
Due: lint-js

CCM-22090: PR feedback
  proxies/shared/policies/AssignMessage.MessageResponses.Get.Request.xml
  proxies/shared/resources/jsc/MessageResponses.Get.Validate.js
  proxies/shared/resources/jsc/helpers/validationChecks.js
  tests/api/message_responses/test_400.py
Due: lint-python

CCM-22090: Fixed test
  tests/api/message_responses/test_400.py
Due: lint-python

CCM-22090: PR feedback
  specification/responses/5xx/message_responses/500_MessageResponsesInternalServerError.yaml
  specification/schemas/enums/ErrorMessageResponsesInternalServerError.yaml
  specification/schemas/responses/errors/message_responses/MessageResponsesInternalServerError.yaml
Due: none

added 'make serve-watch'
  Makefile
  README.md
  package-lock.json
  package.json
Due: none

updated docs for callbacks mTLS and added CA certs
  package.json
  scripts/inline_assets.py
  specification/documentation/APIDescription.md
  specification/documentation/certs/nonprod-ca.crt
  specification/documentation/certs/prod-ca.crt
Due: lint-python

wording tweaks
  specification/documentation/APIDescription.md
Due: none
