Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6988: update sandbox
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/messages.js
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4g2f7GQ2F9HZmgonIFiXAPku.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4khXn32dOOj4bB4bi8Tkllrq.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
Due: lint-js

CCM-6988: remove additional closure
  sandbox/__test__/batch_send.spec.js
Due: lint-js

CCM-6988: add routing plan vals to message batch res transform
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
Due: none

CCM-6988: missing comma
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
Due: none

Revert "CCM-6988: point to de2-aado1"
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-5694: make disable mtls a separate script
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/repoint_frontend.sh
Due: none

CCM-5694: address comments
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/repoint_frontend.sh
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

CCM-5694: my readability suggestions
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

CCM-5694: suggestions
  scripts/repoint-frontend/repoint_frontend.sh
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

Added `Message character limits` section to API docs
  specification/documentation/APIDescription.md
Due: none

CCM-6835: Change bullet list to table
  specification/documentation/APIDescription.md
Due: none

CCM-6875: Updated documentation for odsCode
  specification/schemas/components/Originator.yaml
Due: none

Review comments
  specification/documentation/APIDescription.md
Due: none

CCM-0005: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-5694: remove step 4
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/README.md
  scripts/repoint-frontend/repoint_frontend.sh
Due: none

CCM-0006: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-7256: Removed references to validation libraries from API docs
  specification/schemas/components/Recipient.yaml
Due: none

CCM-7256: Change case of 'status'
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/documentation/APIDescription.md
Due: none

CCM-7443: Remove too large personalisation tests
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-7256: Removed references to validation libraries from API docs (#801)
  specification/schemas/components/Recipient.yaml
Due: none

CCM-6875: Updated documentation for odsCode (#800)
  specification/schemas/components/Originator.yaml
Due: none

CCM-6384: Update Sandbox Collection with 403 Service Ban Example
  postman/CommunicationsManager.Sandbox.postman_collection.json
Due: none

CCM-6835: character limit docs (#799)
  specification/callbacks/channel_status.yaml
  specification/callbacks/message_status.yaml
  specification/documentation/APIDescription.md
Due: none

CCM-6588: Update Sandbox Collection with Email and SMS Free Text Routing Plans
  postman/CommunicationsManager.Sandbox.postman_collection.json
Due: none

CCM-5694: simplify script
  scripts/mtls/disable_mtls.sh
  scripts/repoint-frontend/README.md
  scripts/repoint-frontend/repoint_frontend.sh
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

CCM-6988: Test
  package-lock.json
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6988: new routing config fields in API responses (#797)
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/batch_send.js
  sandbox/handlers/messages.js
  sandbox/messages/2WL3qFTEFM0qMY8xjRbt1LIKCzM.json
  sandbox/messages/2WL3wwFhpZ6blJNIoh747bDEFNv.json
  sandbox/messages/2WL3ydEEk37IzREoWRhuAdolFCE.json
  sandbox/messages/2WL3zxCY9e5vm2VP1ZfYMb53WPF.json
  sandbox/messages/2WL44QP7vrKxKKBZdTtUQoB2bWl.json
  sandbox/messages/2WL45YuHOLATvC3GspEu0oSioux.json
  sandbox/messages/2WL4GEeFVxXG9S57nRlefBwwKxp.json
  sandbox/messages/2WL4JXrfauCaQnSFbAujoImSKwo.json
  sandbox/messages/2WL4JtCiOe7l2TT4szwPjNJah3z.json
  sandbox/messages/2WL4LuyNMtoGAsJQIpTxZLl8e3e.json
  sandbox/messages/2WL4MOuSeCTODDAScFG7KIq9a5r.json
  sandbox/messages/2WL4QcKGjNHvHFQeKgYbapZJGHK.json
  sandbox/messages/2WL4W9RgbuLLByXdR77H8vjKSDd.json
  sandbox/messages/2WL4cPfBRuPKa44JxhyXYf2kr1E.json
  sandbox/messages/2WL4g2f7GQ2F9HZmgonIFiXAPku.json
  sandbox/messages/2WL4ibGoigirgbH4yQwqbPaJXyQ.json
  sandbox/messages/2WL4khXn32dOOj4bB4bi8Tkllrq.json
  sandbox/messages/2WL4mvx6eBva8dcIK60VEGIfcgZ.json
  sandbox/messages/2WL4pcpmKxYYblm3PSKVEqcmEPX.json
  sandbox/messages/2WL4vHFZzInmaYwq6HRNDqTX8dH.json
  sandbox/messages/2WL4xcWKvz4F32g0htBEl8DINzn.json
  sandbox/messages/2WL50w41YaZXcyFCNT346LY8rlz.json
  sandbox/messages/2WL54x0XQjCbWeE5lN0DKQZcokU.json
  sandbox/messages/2WL5TWl7F7PondWbZ1vctlEtOZ3.json
  sandbox/messages/2WL5eDefrbW31uw1il84WdF8ndH.json
  sandbox/messages/2WL5eYSWGzCHlGmzNxuqVusPxDg.json
  sandbox/messages/2WL5f8j4XVxUPgd3OOqXVYvVFIW.json
  sandbox/messages/2WL5qbEa7TzSWZXU2IAOCCrLXVL.json
  sandbox/messages/2bBBpsiMl2rnQt99qm6JLZ6w1vq.json
  sandbox/messages/2n7C5wdJ9JSOSeCJTyd50GvtZeR.json
  tests/lib/assertions.py
Due: lint-js, lint-python

CCM-7052: Update API documentation
  specification/schemas/types/RoutingPlan.yaml
Due: none

CCM-7622: Reset rate limit after test
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

CCM-7622: Switch around where rate limit is set in tests
  tests/development/message_batches/create_message_batches/test_not_permitted_to_use_contact_details.py
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

CCM-7622: Update Makefile
  Makefile
Due: none

CCM-7622: Remove changes from contact details tests
  tests/development/message_batches/create_message_batches/test_not_permitted_to_use_contact_details.py
Due: lint-python

CCM-7622: Always set default rate limit before 429 test
  tests/development/message_batches/create_message_batches/test_not_permitted_to_use_contact_details.py
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

CCM-5694: add comments
  scripts/repoint-frontend/update_proxy_files.py
Due: lint-python

CCM-5694: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-0000: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
