Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: git-secrets
      name: Git Secrets
      description: Git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
      entry: 'nhsd-git-secrets/pre-commit-mac.sh'
      language: script
    - id: lint-js
      name: Lint javascript
      description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
      entry: 'node_modules/.bin/eslint'
      language: script
      files: 'sandbox/.*\.(js|jsx)$'
    - id: lint-python
      name: Lint python
      description: Scans staged python files to ensure code quality within the project.
      entry: 'scripts/lint_python.sh'
      language: script
      types: [python]
    - id: ensure-test-documentation-validity
      name: ensure test documentation validity
      description: Ensure the test documentation is valid
      entry: './scripts/ensure_docs_validity.sh'
      language: script
    - id: check-licences
      name: check licences
      description: Check dependencies for licensing issues
      entry: './scripts/check_licences.sh'
      language: script

CCM-8371 & CCM-8470: 422 & 313 response code documentation (#875)
  specification/responses/4xx/413_RequestEntityTooLarge.yaml
  specification/responses/4xx/message_batches/422_DuplicateBatchRequest.yaml
  specification/responses/4xx/messages/422_DuplicateMessageRequest.yaml
Due: none

CCM-8460: Create new test directory
  Makefile
  package-lock.json
  pytest.ini
  tests/api/get_message/test_success.py
Due: lint-python

CCM-8460: Get message test passing on all environments
  tests/api/get_message/test_success.py
  tests/lib/authentication.py
  tests/lib/constants/constants.py
  tests/lib/fixtures.py
  tests/lib/generators.py
Due: lint-python

CCM-8460: Test changes on nightly pipeline
  azure/nightly-int-dev-pipeline.yml
  azure/nightly-int-qa-pipeline.yml
  azure/nightly-integration-pipeline.yml
  azure/nightly-prod-pipeline.yml
Due: none

CCM-8460: Tweak fixture to work in pipeline
  tests/lib/fixtures.py
Due: lint-python

CCM-8460: Tweak fixture to work in pipeline
  azure/templates/run-tests.yml
  tests/lib/fixtures.py
Due: lint-python

CCM-8460: Tweak yml to work with fixture
  azure/templates/run-tests.yml
Due: none

CCM-8460: Tweak auth fixture for prod
  tests/lib/authentication.py
Due: lint-python

CCM-8460: Set proxyname and apienvironment as defaults for all nightly jobs
  azure/azure-pr-pipeline.yml
  azure/templates/run-tests.yml
Due: none

CCM-8460: Set proxyname and apienvironment as defaults for all nightly jobs
  azure/templates/run-tests.yml
Due: none

CCM-8460: Test PR pipeline with all test command
  azure/azure-pr-pipeline.yml
Due: none

CCM-8460: Revert nightly pipeline test commands
  azure/azure-pr-pipeline.yml
  azure/nightly-int-dev-pipeline.yml
  azure/nightly-int-qa-pipeline.yml
  azure/nightly-integration-pipeline.yml
  azure/nightly-prod-pipeline.yml
Due: none

CCM-8460: Rename files
  tests/api/get_message/test_200.py
  tests/api/get_message/test_404.py
Due: lint-python

CCM-8460: Add make commands for performance and prod tests
  Makefile
Due: none

CCM-8460: Undo test commands, print out environment tests are running on
  Makefile
Due: none

CCM-8460: Update build job actions/cache to v4
  .github/workflows/build.yml
Due: none

Upgrading Cache Action
  .github/workflows/build.yml
Due: none

bugfix to test for release
  tests/integration/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-8040: Address PR comments
  Makefile
  pytest.ini
Due: none

CCM-8640: Address PR Comments
  docs/tests/development/get_v1_messages/404.md
  docs/tests/development/get_v1_messages/happy_path.md
  docs/tests/development/get_v1_messages/index.md
  docs/tests/development/index.md
  docs/tests/index.md
  docs/tests/integration/get_v1_messages/404.md
  docs/tests/integration/get_v1_messages/happy_path.md
  docs/tests/integration/get_v1_messages/index.md
  docs/tests/integration/index.md
  docs/tests/production/get_v1_messages/404.md
  docs/tests/production/get_v1_messages/happy_path.md
  docs/tests/production/get_v1_messages/index.md
  docs/tests/production/index.md
  tests/api/get_message/test_200.py
  tests/api/get_message/test_404.py
  tests/development/messages/get_message/__init__.py
  tests/development/messages/get_message/test_404.py
  tests/development/messages/get_message/test_success.py
  tests/docs/development/get_v1_messages/404.rst
  tests/docs/development/get_v1_messages/happy_path.rst
  tests/docs/development/get_v1_messages/index.rst
  tests/docs/development/index.rst
  tests/docs/index.rst
  tests/docs/integration/get_v1_messages/404.rst
  tests/docs/integration/get_v1_messages/happy_path.rst
  tests/docs/integration/get_v1_messages/index.rst
  tests/docs/integration/index.rst
  tests/docs/production/get_v1_messages/404.rst
  tests/docs/production/get_v1_messages/happy_path.rst
  tests/docs/production/get_v1_messages/index.rst
  tests/docs/production/index.rst
  tests/integration/messages/get_message/__init__.py
  tests/integration/messages/get_message/test_404.py
  tests/integration/messages/get_message/test_success.py
  tests/production/messages/get_message/__init__.py
  tests/production/messages/get_message/test_404.py
  tests/production/messages/get_message/test_success.py
Due: lint-python

CCM-8640: Address PR Comments
  docs/tests/get_v1_messages/404.md
  docs/tests/get_v1_messages/happy_path.md
  docs/tests/get_v1_messages/index.md
  tests/docs/get_v1_messages/404.rst
  tests/docs/get_v1_messages/happy_path.rst
  tests/docs/get_v1_messages/index.rst
Due: none

CCM-8460: DOCS FIXES
  docs/tests/get_v1_messages/happy_path.md
  tests/api/get_message/test_200.py
  tests/docs/partials/happy_path/test_200_get_message_cascade.rst
  tests/docs/partials/happy_path/test_200_get_message_failed.rst
  tests/docs/partials/happy_path/test_200_get_message_pending_enrichment.rst
  tests/docs/partials/happy_path/test_200_get_message_sending.rst
  tests/docs/partials/happy_path/test_200_get_message_successful.rst
Due: lint-python

CCM-8460: add new directory to make commands
  Makefile
Due: none

CCM-8464: Migrate content types to single directory
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/content_types.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/content_types.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/content_types.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  tests/api/content_types/__init__.py
  tests/api/content_types/test_406_errors.py
  tests/api/content_types/test_415_errors.py
  tests/api/content_types/test_content_type_negotiation.py
  tests/api/content_types/test_missing_accept_header.py
  tests/development/content_types/test_406_errors.py
  tests/development/content_types/test_415_errors.py
  tests/docs/generic/content_types.rst
  tests/docs/generic/index.rst
  tests/docs/index.rst
  tests/docs/integration/generic/content_types.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/content_types/test_406.rst
  tests/docs/partials/content_types/test_415_invalid.rst
  tests/docs/partials/content_types/test_application_response_type.rst
  tests/docs/production/generic/content_types.rst
  tests/docs/production/generic/index.rst
  tests/integration/content_types/__init__.py
  tests/integration/content_types/test_content_type_negotiation.py
  tests/lib/generators.py
Due: lint-python

CCM-8464: Update personalisation
  tests/lib/generators.py
Due: lint-python

CCM-8464: fix broken tests
  tests/integration/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
Due: lint-python

CCM-8464: remove prod tests
  tests/production/content_types/__init__.py
  tests/production/content_types/test_406_errors.py
  tests/production/content_types/test_415_errors.py
  tests/production/content_types/test_content_type_negotiation.py
Due: lint-python

CCM-8464: update pytest marker
  tests/api/content_types/test_406_errors.py
  tests/api/content_types/test_415_errors.py
  tests/api/content_types/test_content_type_negotiation.py
  tests/api/content_types/test_missing_accept_header.py
Due: lint-python

CCM-8464: Migrate content types to single directory (#881)
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/content_types.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/content_types.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/content_types.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  tests/api/content_types/__init__.py
  tests/api/content_types/test_406_errors.py
  tests/api/content_types/test_415_errors.py
  tests/api/content_types/test_content_type_negotiation.py
  tests/api/content_types/test_missing_accept_header.py
  tests/development/content_types/test_406_errors.py
  tests/development/content_types/test_415_errors.py
  tests/docs/generic/content_types.rst
  tests/docs/generic/index.rst
  tests/docs/index.rst
  tests/docs/integration/generic/content_types.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/content_types/test_406.rst
  tests/docs/partials/content_types/test_415_invalid.rst
  tests/docs/partials/content_types/test_application_response_type.rst
  tests/docs/production/generic/content_types.rst
  tests/docs/production/generic/index.rst
  tests/integration/content_types/__init__.py
  tests/integration/content_types/test_content_type_negotiation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/generators.py
  tests/production/content_types/__init__.py
  tests/production/content_types/test_406_errors.py
  tests/production/content_types/test_415_errors.py
  tests/production/content_types/test_content_type_negotiation.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
Due: lint-python

CCM-8465: Migrate headers
  docs/tests/development/generic/headers.md
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/headers.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/headers.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  tests/api/headers/__init__.py
  tests/api/headers/test_cors.py
  tests/api/headers/test_x_amz_removal.py
  tests/api/headers/test_x_correlation_id.py
  tests/docs/development/generic/headers.rst
  tests/docs/development/generic/index.rst
  tests/docs/generic/headers.rst
  tests/docs/generic/index.rst
  tests/docs/integration/generic/headers.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/headers/test_cors.rst
  tests/docs/partials/headers/test_request_with_x_amz_is_removed.rst
  tests/docs/partials/headers/test_request_with_x_correlation_id.rst
  tests/docs/production/generic/headers.rst
  tests/docs/production/generic/index.rst
  tests/integration/headers/__init__.py
  tests/integration/headers/test_cors.py
  tests/integration/headers/test_x_amz_removal.py
  tests/integration/headers/test_x_correlation_id.py
  tests/production/headers/__init__.py
  tests/production/headers/test_cors.py
  tests/production/headers/test_x_amz_removal.py
  tests/production/headers/test_x_correlation_id.py
Due: lint-python

CCM-8465: Migrate headers (#882)
  docs/tests/development/generic/headers.md
  docs/tests/development/generic/index.md
  docs/tests/development/index.md
  docs/tests/generic/headers.md
  docs/tests/generic/index.md
  docs/tests/index.md
  docs/tests/integration/generic/index.md
  docs/tests/integration/index.md
  docs/tests/production/generic/headers.md
  docs/tests/production/generic/index.md
  docs/tests/production/index.md
  tests/api/headers/__init__.py
  tests/api/headers/test_cors.py
  tests/api/headers/test_x_amz_removal.py
  tests/api/headers/test_x_correlation_id.py
  tests/docs/development/generic/headers.rst
  tests/docs/development/generic/index.rst
  tests/docs/generic/headers.rst
  tests/docs/generic/index.rst
  tests/docs/integration/generic/headers.rst
  tests/docs/integration/generic/index.rst
  tests/docs/partials/headers/test_cors.rst
  tests/docs/partials/headers/test_request_with_x_amz_is_removed.rst
  tests/docs/partials/headers/test_request_with_x_correlation_id.rst
  tests/docs/production/generic/headers.rst
  tests/docs/production/generic/index.rst
  tests/integration/headers/__init__.py
  tests/integration/headers/test_cors.py
  tests/integration/headers/test_x_amz_removal.py
  tests/integration/headers/test_x_correlation_id.py
  tests/production/headers/__init__.py
  tests/production/headers/test_cors.py
  tests/production/headers/test_x_amz_removal.py
  tests/production/headers/test_x_correlation_id.py
Due: lint-python

CCM-6892: add comment so a PR can be created
  tests/development/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6892: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6892: temp change to point to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6892: update invalid sms number
  sandbox/__test__/batch_send.spec.js
  sandbox/__test__/messages.spec.js
  sandbox/handlers/error_scenarios/override_contact_details.js
  specification/responses/4xx/message_batches/400_UnableToProcessMessageBatch.yaml
  specification/responses/4xx/messages/400_UnableToProcessMessage.yaml
  tests/development/messages/create_messages/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
  tests/sandbox/message_batches/create_message_batches/test_field_validation.py
  tests/sandbox/messages/create_messages/test_field_validation.py
Due: lint-js, lint-python

CCM-6892: revert temp change to point to de-iaho3 backend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none
