Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6434: update specification
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
Due: none

CCM-6416: frontent tests for personalisation size
  tests/development/message_batches/create_message_batches/test_field_validation.py
  tests/development/messages/create_messages/test_field_validation.py
  tests/docs/partials/validation/test_invalid_personalisation.rst
  tests/docs/partials/validation/test_too_large_personalisation.rst
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/messages/create_messages/test_field_validation.py
  tests/lib/constants/constants.py
  tests/lib/generators.py
  tests/production/message_batches/create_message_batches/test_field_validation.py
  tests/production/messages/create_messages/test_field_validation.py
Due: lint-python

CCM-6416: fix documentation error
  tests/docs/partials/validation/test_not_permitted_to_use_contact_details.rst
Due: none

CCM-6416: updated docs
  docs/tests/development/post_v1_message-batches/validation.md
  docs/tests/development/post_v1_messages/validation.md
  docs/tests/integration/post_v1_message-batches/validation.md
  docs/tests/integration/post_v1_messages/validation.md
  docs/tests/production/post_v1_message-batches/validation.md
  docs/tests/production/post_v1_messages/validation.md
  docs/tests/sandbox/post_v1_message-batches/validation.md
  docs/tests/sandbox/post_v1_messages/validation.md
Due: none

CCM-6416: linting fixes
  tests/lib/constants/constants.py
  tests/lib/generators.py
Due: lint-python

CCM-6434: change to enable PR creation
  README.md
Due: none

CCM-6878: Cannot set contact details APIM tests
  tests/development/message_batches/create_message_batches/test_cannot_set_contact_details.py
  tests/development/messages/create_messages/test_cannot_set_contact_details.py
Due: lint-python

NOJIRA: Do not merge
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6878: Cannot set contact details APIM tests
  tests/development/message_batches/create_message_batches/test_cannot_set_contact_details.py
  tests/development/messages/create_messages/test_cannot_set_contact_details.py
  tests/lib/fixtures.py
Due: lint-python

CCM-6878: Rename tests for consistency
  tests/development/message_batches/create_message_batches/test_not_permitted_to_use_contact_details.py
  tests/development/messages/create_messages/test_not_permitted_to_use_contact_details.py
Due: lint-python

CCM-6648: Fix intermittent 401 errors
  tests/lib/authentication.py
  tests/lib/fixtures.py
Due: lint-python

CCM-6648: Fix intermittent 401 errors
  tests/lib/authentication.py
Due: lint-python

CCM-6648: Add retry for individual tests when getting a 401
  Makefile
  tests/lib/assertions.py
  tests/lib/constants/constants.py
  tests/lib/error_handler.py
  tests/sandbox/test_500_errors.py
Due: lint-python

CCM-6648: Simplify retry logic
  tests/lib/assertions.py
  tests/lib/error_handler.py
Due: lint-python

CCM-6434: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

fix
  proxies/live/apiproxy/targets/target.xml
Due: none

CCM-7212: fix test file compile error
  tests/production/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-5694: added scripts to automate repointing comms api at DE
  scripts/repoint_frontend.py
  scripts/repoint_frontend.sh
Due: lint-python

CCM-7212: fix test file compile error (#771)
  tests/production/message_batches/create_message_batches/test_too_large.py
Due: lint-python

CCM-5694: fixed a bug that removes lines that are required
  scripts/repoint_frontend.py
Due: lint-python

fix
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-6648: Fix intermittent 401 errors (#763)
  Makefile
  tests/lib/assertions.py
  tests/lib/authentication.py
  tests/lib/constants/constants.py
  tests/lib/error_handler.py
  tests/lib/fixtures.py
  tests/sandbox/test_500_errors.py
Due: lint-python

CCM-6878: Cannot set contact details APIM tests (#767)
  tests/development/message_batches/create_message_batches/test_not_permitted_to_use_contact_details.py
  tests/development/messages/create_messages/test_not_permitted_to_use_contact_details.py
  tests/lib/fixtures.py
Due: lint-python

CCM-6434: Respond with request item IDs for batch create (#759)
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/test_504_errors.py
Due: lint-js, lint-python

CCM-5694: scripts extended to accomodate continue after partial failure
  scripts/repoint_frontend.sh
Due: none

CCM-6695: Added API docs for cascadeType and cascadeOrder (Parallel Send) (#756)
  specification/callbacks/message_status.yaml
  specification/schemas/components/SupplierStatus.yaml
  specification/schemas/enums/CascadeType.yaml
  specification/schemas/responses/MessageResponse.yaml
  specification/snippets/CascadeOrder.yaml
Due: none

CCM-5694: small fixes
  scripts/repoint_frontend.sh
Due: none

CCM-5694: added jq to tool versions
  .tool-versions
Due: none

CCM-5694: fixed jq issues
  scripts/repoint_frontend.sh
Due: none

CCM-5694: re added removed fix
  scripts/repoint_frontend.py
Due: lint-python

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
