Repository NHSDigital/communications-manager-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-python

lint-js:
  name: Lint javascript
  description: ESLint scans staged JavaScript files to ensure code quality within the sandbox folder.
  entry: node_modules/.bin/eslint
  language: script

lint-python:
  name: Lint python
  description: Scans staged python files to ensure code quality within the project.
  entry: scripts/lint_python.sh
  language: script

CCM-6434: Restore PR# 759 (#828)
  docs/tests/development/generic/content_types.md
  docs/tests/development/post_v1_message-batches/happy_path.md
  docs/tests/development/post_v1_message-batches/performance.md
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_message-batches/performance.md
  docs/tests/production/post_v1_message-batches/performance.md
  docs/tests/sandbox/post_v1_message-batches/happy_path.md
  docs/tests/sandbox/post_v1_message-batches/performance.md
  proxies/sandbox/apiproxy/targets/sandbox.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Response.xml
  proxies/shared/policies/ExtractVariables.MessageBatches.Create.Response.xml
  sandbox/__test__/batch_send.spec.js
  sandbox/handlers/batch_send.js
  specification/responses/2xx/201_MessageBatchCreated.yaml
  specification/schemas/responses/MessageBatch.yaml
  tests/development/content_types/test_missing_accept_header.py
  tests/development/message_batches/create_message_batches/test_success.py
  tests/docs/partials/content_types/test_missing_accept_header.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_accept_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_contact_details.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_content_type_headers.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_dob.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_nhs_number.rst
  tests/docs/partials/happy_path/test_201_message_batch_valid_routing_plan_id.rst
  tests/docs/partials/happy_path/test_201_message_batch_without_dob.rst
  tests/docs/partials/performance/test_create_messages_large_valid_payload.rst
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/lib/assertions.py
  tests/lib/constants/message_batches_paths.py
  tests/lib/generators.py
  tests/sandbox/message_batches/create_message_batches/test_performance.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
  tests/sandbox/test_504_errors.py
Due: lint-js, lint-python

CCM-7747: Remove DOB
  tests/development/message_batches/create_message_batches/test_success.py
  tests/sandbox/message_batches/create_message_batches/test_success.py
Due: lint-python

CCM-7747: Remove DOB, remove regex
  proxies/shared/resources/jsc/helpers/validationChecks.js
Due: none

CCM-7747: Address review comments
  postman/CommunicationsManager.Sandbox.postman_collection.json
  sandbox/messages/2WL4g2f7GQ2F9HZmgonIFiXAPku.json
  tests/lib/generators.py
Due: lint-python

CCM-7747: repointed frontend
  proxies/live/apiproxy/targets/target.xml
  proxies/shared/policies/AssignMessage.MessageBatches.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.Create.Request.xml
  proxies/shared/policies/AssignMessage.Messages.GetSingle.Request.xml
  proxies/shared/policies/AssignMessage.NhsAppAccounts.Get.Request.xml
Due: none

CCM-0000: Hotfix for tests
  .tool-versions
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_messages/happy_path.md
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

ccm-0000: fix fix
  .tool-versions
  tests/integration/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

ccm-0000: fix
  tests/integration/message_batches/create_message_batches/test_field_validation.py
Due: lint-python

CCM-8083: Hotfix for tests
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_messages/happy_path.md
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-8083: Hotfix for tests (#838)
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_messages/happy_path.md
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-5987: update zap to 2.15.0
  zap/Dockerfile
Due: none

CCM-5987: run zap in debug mode
  scripts/run_zap.sh
Due: none

CCM-8083: Hotfix for tests (#838)
  docs/tests/integration/post_v1_messages/happy_path.md
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-8083: Update doc following merge
  docs/tests/integration/post_v1_message-batches/happy_path.md
Due: none

CCM-8083 bring hotfix into release (#842)
  docs/tests/integration/post_v1_message-batches/happy_path.md
  docs/tests/integration/post_v1_messages/happy_path.md
  tests/integration/message_batches/create_message_batches/test_field_validation.py
  tests/integration/message_batches/create_message_batches/test_success.py
  tests/integration/messages/create_messages/test_success.py
Due: lint-python

CCM-9748: Break out mTLS pipeline to dev and prod, update tests to assert general exception raised
  Makefile
  azure/periodic-mtls-dev-pipeline.yml
  azure/periodic-mtls-prod-pipeline.yml
  azure/templates/teams-alert.yml
  tests/mtls/test_mtls.py
Due: lint-python

CCM-5987: remove communityScripts add-on to avoid errors
  package-lock.json
  scripts/run_zap.sh
  zap/Dockerfile
  zap/comms-manager-json/template.yaml
Due: none

CCM-5987: set Tech Detection Passive Scanner to INFO
  zap/policies/API.policy
Due: none

CCM-5987: set Tech Detection rule to info
  zap/zap.yaml
Due: none

CCM-5987: set Tech Detection rule to off
  zap/zap.yaml
Due: none

CCM-5987: remove pscanrulesBeta add-on to avoid errors
  zap/Dockerfile
  zap/policies/API.policy
  zap/zap.yaml
Due: none

CCM-5987: remove wappalyzer add-on to avoid errors
  zap/Dockerfile
Due: none

CCM-5987: remove add-ons to avoid errors
  zap/Dockerfile
Due: none

CCM-5987: testing remove add-ons to avoid errors
  zap/Dockerfile
Due: none

We need to add empty file becaause we cant create PR to base without changes
  .gitignore
  emptyfile
Due: none

remove empty file
  emptyfile
Due: none

CCM-5987: testing fail on warning set to false
  zap/Dockerfile
  zap/zap.yaml
Due: none

CCM-5987: remove add-ons causing pipeline failures
  zap/Dockerfile
  zap/zap.yaml
Due: none

CCM-5987: remove add-ons causing pipeline failures
  zap/Dockerfile
Due: none

CCM-5987: remove wappalyzer add-on
  zap/Dockerfile
Due: none

CCM-8114: Remove parametrization from tests using NHS Notify Test Client 1
  tests/development/messages/create_messages/test_not_permitted_to_use_contact_details.py
  tests/development/rate_limiting/test_429_errors.py
Due: lint-python

Path conditions:
  lint-js: any of: sandbox/.*\.(js|jsx)$
  lint-python: any of: \.py$
